.text-center{ text-align:center;}
.position-relative{ position:relative;}
.align-progressbar{ position:absolute; width:100%;}

.filter-li-style li{
    display: inline-block;
    margin-left: 20px;
    color: #7c7c7c;
    font-size: 15px;
}

.filter-li-style{
    margin: 0;
    padding: 0;
}

mat-progress-bar.tp-margin.manage-site-progressbar.mat-progress-bar.mat-primary.ng-star-inserted{ width:100%;}