<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row m-0">
          <div class="col s12">
            <h5 class="m-0 left">Manage Register</h5>
            <!--<div class="right"><button mat-raised-button [routerLink]="['../add-register']">+ Add</button></div>-->
              <div class="right form-inline">
              <ul class="filter-li-style">
                <mat-toolbar>
                  <li>
                    <mat-form-field>
                     <mat-label>Select Branch</mat-label>
                     <mat-select [(value)]="filterBranchId" >
                       <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                     </mat-select>
                    </mat-form-field>
                  </li>
              </mat-toolbar>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../setting']">General Settings</a></li>
              <li>Manage Register</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 p-10">
              <div class="position-relative">
              <mat-progress-bar *ngIf = "progressShow"
              class = "tp-margin align-progressbar"
              [mode] = "mode"
              [value] = "value"
              [bufferValue] = "bufferValue"
              >
              </mat-progress-bar>
                 
            <table mat-table [dataSource]="dataSource">
  
              <!-- Position Column -->
              <ng-container matColumnDef="serialNo">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.SerialNo}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="siteName">
                <th mat-header-cell *matHeaderCellDef> Site Name </th>
                <td mat-cell *matCellDef="let element"> {{element.SiteName}} </td>
              </ng-container>
              
               <!-- Name Column -->
              <ng-container matColumnDef="noOfRegister">
                <th mat-header-cell *matHeaderCellDef> No.of Register </th>
                <td mat-cell *matCellDef="let element"> {{element.NoofRegister}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Action </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <button mat-mini-fab (click)="addRegister(element.SiteName,element.SiteId)"><i class="material-icons">add</i></button>&nbsp;&nbsp;&nbsp;
                  <button mat-mini-fab color="warn" (click)="editRegister(element.SiteName,element.SiteId)"><i class="material-icons">edit</i></button>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
          </div>
          </div>
        </div>
        <!--<div class="row">
          <div class="col s12">
            <div class="white z-depth-1 box-full">
                
              
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</main>
