.mat-form-field {
    display: block;}
    
    .mat-progress-bar{
    position: absolute;
    left: 0;
    top: 0;
    }
    
    .position-relative{
        position:relative;
        }
    .success-msg-config{
        color: #85b385;
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 13px;
        font-weight: 500;
    }
    .error-msg-config{
        color: #dc8585;
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 13px;
        font-weight: 500;
    }
    
    @media only screen and (max-width: 600px) {
        .p-20{ padding: 0;}
    }