<main id="main_id" class="">                 
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row">
          <div class="col l6 m12 s12 push-l3">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../setting']">General Settings</a></li>
              <li>Default Config</li>
            </ul>                    
            <div class="white z-depth-1 waves-grey box-full position-relative p-20-inner">
              <mat-progress-bar *ngIf = "progressShow"
                  class = "tp-margin"
                  [mode] = "mode"
                  [value] = "value"
                  [bufferValue] = "bufferValue"
                  >
              </mat-progress-bar> 
              <div class="row">
                <div class="col s12">
                  <h5 class="m-0 left">Default Config</h5><br>
                </div>
              </div>
              <div class="row">
                <div class="col s12">
                  <p *ngIf="errormessage && showErrorMsg" class="error-msg error-msg-config">{{errormessage}}</p>
                  <p *ngIf="successmessage && !showErrorMsg" class="success-msg-config">{{successmessage}}</p>
                  <form [formGroup]="defaultConfigForm" (ngSubmit)="defaultConfigFormSubmit()">
                    <mat-form-field class="mat-form-field-full">
                    <input matInput placeholder="Signout Amount" formControlName="signOutAmount">
                    <mat-error *ngIf = "this.defaultConfigForm.controls.signOutAmount.status!=='VALID'">Please enter a valid amount.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-full">
                    <input matInput placeholder="Summary Days" formControlName="summaryDays" >
                      <mat-error *ngIf = "this.defaultConfigForm.controls.summaryDays.status!=='VALID'">Please enter a valid days.</mat-error>
                    </mat-form-field>
                      <button type="submit" mat-raised-button color="primary">Submit</button>
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</main>
