<main>
  <center>
    <div class="container">
      <div class="z-depth-1 white login-box">
        <!--*ngIf = "progressShow"-->
          <mat-progress-bar *ngIf = "progressShow"
          class = "tp-margin"
          [mode] = "mode"
          [value] = "value"
          [bufferValue] = "bufferValue"
          >
       </mat-progress-bar>
          
        <form class="col s12" id="Login" [formGroup]="oscrLoginForm" (ngSubmit)="oscrLoginFormSubmit()">
          <div class="row">
            <div class="col s12">
              <img src="assets/img/login-logo.png" width="200" alt="Logo" class="responsive-img"/>
              <div class="section"></div>
              <h5 class="purple-text"><strong>Online Sales & Cash Reporting Platform</strong></h5>
              <p class="grey-text m-0 center">Please use your SharePoint credentials to login.</p>
            </div>
            <p *ngIf="message" class="error-msg">{{message}}</p>
          </div>
          <div class="row m-b-0">
            
            <div [class]="this.oscrLoginForm.controls.userName.status!=='VALID' && showErrorMsg ? 'input-field col s12 error-field': 'input-field col s12'">
              <input type="text"  id="username" formControlName="userName"  />
              <label for="username">User Name</label>
             <!--<p class="text-left error-msg" *ngIf = "this.oscrLoginForm.controls.userName.status!=='VALID' && showErrorMsg"> <span class="error-sign">!</span> Username is required</p>-->
            
            <mat-error *ngIf="this.oscrLoginForm.controls.userName.status!=='VALID' && showErrorMsg">
              Username is required
            </mat-error>
            </div>
            
          </div>
          <div class="row m-b-0">
            <div [class]="this.oscrLoginForm.controls.password.status!=='VALID' && showErrorMsg ? 'input-field col s12 error-field': 'input-field col s12'">
              <!--<input class="validate" type="password" name="password" id="password" />-->
              <input type="password" id="inputPassword" formControlName="password">
              <label for="inputPassword">Enter your password</label>
              
              <mat-error *ngIf="this.oscrLoginForm.controls.password.status!=='VALID' && showErrorMsg">
              Password is required
              </mat-error>
              <!--<p class="text-left error-msg" *ngIf = "this.oscrLoginForm.controls.password.status!=='VALID' && showErrorMsg"> <span class="error-sign">!</span> Password is required</p>-->
            </div>
          </div>
          <div class="row">
            <!--<div class="col s6 text-left">
              <mat-checkbox formControlName="rememberMe" color="primary">Remember Me</mat-checkbox>
            </div>-->
              <div class="col s12">
              <small class="right forgot-text"><a>Forgot Password?</a></small>
              </div>
            
          </div>
            <div class="row">
              <div class="col s12">
              <button type="submit" name="btn_login" class="col s12 btn waves-effect purple">Login</button>
              </div>
            </div>
            
            <div class="row">
              <div class="col s12">              
                <small>By signing in you accept <a class="cursor-pointer">Terms &amp; Conditions</a></small>
              </div>
            </div>
            
        </form>
      </div>
    </div>
    <!-- <a href="#!">Create account</a> -->
  </center>

  <div class="section"></div>
  <div class="section"></div>
</main>
