/*Global Css*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('src/assets/fonts/BrandonGrotesque-Light.woff2') format("opentype"),
        url('src/assets/fonts/BrandonGrotesque-Light.woff') format("opentype");
}

.m-b-0{margin-bottom:0;}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Brandon Grotesque';
}
strong{
    font-weight:600;
}

.mat-checkbox {
    font-family: 'Poppins', sans-serif;
}

/*.mat-checkbox-layout .mat-checkbox-label {*/
/*    font-size: 13px !important;*/
/*}*/

.forgot-text{position: relative; top: 5px; cursor:pointer;}
.login-box a{ color:#9c27b0;}
.cursor-pointer{ color:#9c27b0; cursor:pointer;}

/*Global Css*/
.text-left{ text-align:left;}
.login-box{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
	display: inline-block; padding: 20px 15px 0px 15px; border: 1px solid #EEE;
    width: 370px; font-family: 'Poppins', sans-serif; font-weight: 400;}

.login-box h5{font-size: 19px;}
.login-box p{font-size: 13px;}
.login-box .mat-error {
    color: #f44336;
    position: absolute;
    right: 12px;
    bottom: -12px;
    font-size: 13px;
}

.mat-progress-bar{
    position: absolute;
    left: 0;
    top: 0;
    }

.error-field input {
    border-bottom: 1px solid #f44336;
}
.error-field label{ color: #f44336;}

.error-msg{
    background: #f7695f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block; box-shadow:0 0 20px #c1c1c1}

@media only screen and (max-width: 480px){
    .login-box{ width: 100%;}
}
