/* .mat-toolbar.mat-primary{
    background: #333645
}
.example-spacer{
  flex: 1 1 auto;
}
.mat-icon{
    cursor: pointer;
} */


.header-nav{
  background: #863e6f;
  width: calc(100% - 260px); 
  float: right;
  padding: 13px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
}

.header-nav li.nav-item{ color: #fff; padding: 12px;  }
.header-nav li.nav-item a.nav-link{ padding: 0; color: #fff; }

.header-nav .navbar-nav .nav-link {
  color: #fff;
}

.logout-link{
  cursor: pointer;
}

.nav-wrapper ul.right .purple-text{ border-radius:0px;}
.nav-wrapper ul.right .purple-text:hover, .nav-wrapper ul.right .purple-text:focus{ background:#9a9a9a; color:#fff !important; }
button.mat-menu-item:focus {background-color: #9a9a9a; color: #fff;}

.inline-flex {
    color:#707070;
    display: inline-flex;
    margin-left: 30px;
    margin-right: 30px;
}

.grey-txt{ color:#ccc;}

.inline-flex i.material-icons{
    font-size: 22px;
    margin-right: 5px;
}

@media (max-width: 991px ) {
 .header-nav {
    float: none;
    width: 100%;
    display: flex;
  }

  .header-nav .navbar-nav{ display: inline;}
  .header-nav li.nav-item { display: inline-block;}

}

@media (max-width: 420px ) {
  .header-nav li:first-child, .header-nav li:nth-child(2){ display: none; }
  }
  
@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 54px;
    line-height: 54px;
}
}

