<header id="header_id" class="">
    <ul class="dropdown-content" id="user_dropdown">
      <li><a class="purple-text" href="#!">Profile</a></li>
      <li><a class="purple-text" href="#!">Logout</a></li>
    </ul>
    <nav class="white" role="navigation">
      <div class="nav-wrapper">
        <a data-activates="slide-out" class="button-collapse p-10" href="#!">
          <img src="assets/img/login-logo.png" width="100" class="responsive-img" alt="Logo">
        </a>
         <ul class="left">
          <li>
            <a class="purple-text bar" id="menu_toggle" idd="0" (click)="side_slide()"><i class='material-icons'>dehaze</i></a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a href="#" class="purple-text"><i class='material-icons'>notifications_none</i></a>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu" class="purple-text"><i class="material-icons">account_circle</i></button>
            <mat-menu class="mat-menu-custom" #menu="matMenu">
               <div style="padding:10px;">Hi, {{UserName}}</div>
               <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
          </li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </div>
    </nav>
</header>
<!-- Header -->


