<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        
        <div class="row m-0">
        <div class="col s12">
          <h5 class="m-0 left">Manage Sites</h5>
          <div class="right form-inline">
            <ul class="filter-li-style">
              <mat-toolbar>
                <li>
                  <mat-form-field>
                   <mat-label>Select Branch</mat-label>
                   <mat-select [(value)]="filterBranchId" >
                     <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                   </mat-select>
                  </mat-form-field>
                </li>
             <li><button mat-raised-button [routerLink]="['../add-site']">+ Add</button></li>
            </mat-toolbar>
            </ul>
          </div>
        </div>
        </div>
        
        <div class="row">
        <div class="col s12">
          <ul class="breadcrumb">
          <li><a [routerLink]="['../setting']">General Settings</a></li>
          <li>Manage Sites</li>
        </ul>
        </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 p-10">
            <div class="position-relative">
            <mat-progress-bar *ngIf = "progressShow"
            class = "tp-margin manage-site-progressbar"
            [mode] = "mode"
            [value] = "value"
            [bufferValue] = "bufferValue"
            >
            </mat-progress-bar>
            <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="siteId">
                <th mat-header-cell *matHeaderCellDef width="10%"> Site ID </th>
                <td mat-cell *matCellDef="let element"> {{element.BranchWiseSiteId}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="siteName">
                <th mat-header-cell *matHeaderCellDef width="25%"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.SiteName}} </td>
              </ng-container>
              
              <ng-container matColumnDef="IsOccasionalSite">
                <th mat-header-cell *matHeaderCellDef width="15%"> Occasional Site </th>
                <td mat-cell *matCellDef="let element"> {{element.IsOccasionalSite}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="siteStatus">
                <th mat-header-cell *matHeaderCellDef class="text-center" width="20%"> Status </th>
                <td mat-cell *matCellDef="let element" class="center">
                  <mat-slide-toggle color="primary" [checked]="element.IsActive" (change)="branchSiteStatusChange($event,element.BranchWiseSiteId)"></mat-slide-toggle>
                </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="siteType">
                <th mat-header-cell *matHeaderCellDef class="text-center" width="30%"> Site Type </th>
                <td mat-cell *matCellDef="let element">
                   <mat-select placeholder="Type" multiple class="center" [(ngModel)]="element.SiteTypes" [compareWith]="comparer">
                      <!--<mat-option color="primary" *ngFor="let siteType of element.SiteTypes"  [value]="siteType.typeId" (onSelectionChange)="enableSiteType($event,element.BranchWiseSiteId)">{{siteType.TypeName}}</mat-option>-->
                     <mat-option *ngFor="let siteType of allSiteTypes" [value]="siteType" (onSelectionChange)="enableSiteType($event,element.BranchWiseSiteId)">{{siteType.TypeName}}</mat-option>
                   </mat-select>
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            </div>
              
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 box-full">
                
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>
