.text-center{ text-align:center;}
.mat-form-field{ display:block;}
.mat-pseudo-checkbox-checked {
    background: #7b1fa2 !important;
}
.position-relative{ position:relative;}
.manage-site-progressbar{ position:absolute; width:100%;}

mat-progress-bar.tp-margin.manage-site-progressbar.mat-progress-bar.mat-primary.ng-star-inserted{ width:100%;}

.filter-li-style li{
    display: inline-block;
    margin-left: 20px;
    color: #7c7c7c;
    font-size: 15px;
}

.filter-li-style{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    .mat-toolbar-single-row{ white-space: normal;}
    .mat-toolbar-single-row {height: auto; display: block; padding: 0;}
    .p-20{ padding:0;}
    .filter-li-style li{ margin-left: 0; width: 100%;}

    .branch-name ul li {
        margin: 0;
        width: 100%;
    }
    .mat-form-field{ width: 100%;}

    .filter-li-style .mat-form-field-flex {
        width: 100% !important;
    }

    .breadcrumb{ margin-bottom: 15px;}
    .filter-li-style li{ text-align: right;}
    h5.m-0.left{ margin-bottom: 15px;}
    
    }




