.table{
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.table.table-bordered thead{ background:#863e6f; color: #fff; font-weight: 300;}
.table.table-bordered td{ color: #000; padding: 18px 8px;}

.table-bordered thead td, .table-bordered thead th {
  font-weight: 300;
  padding: 12px 8px;
}

.table-bordered thead th{ color: #fff; font-size: 15px;}
.table-bordered th { color: #000; font-weight: 300; padding: 18px 8px;}

.table-bordered tr:nth-child(even) {background-color: #ebefec;}

.main-wrapper{
  width: calc(100% - 260px);
  float:right;
  padding: 20px 30px;
}

.filter-row{ color: #aaa;}

.card-div {
    background-color: #ebefec;
    padding: 10px 20px 20px;
    width: 100%;
}

.card-div .card_header_custom {
    margin: 0;
    border-radius: 0px;
    background: #fff;
    box-shadow: none;
    display: inline-block;
    width: 100%;
    border:0;
}

.card-div .card_header_custom .title {
  color: #863E6F;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 7px 0;
}

.breadcrumb ul {
	margin: 0;
	padding: 0;
}
.breadcrumb ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	color: #7e7e7e;
	position: relative;
}

.breadcrumb ul li a {
  color: #863e6f;
}

.breadcrumb ul li:after {
	background-image: url(src/assets/img/arrow_sm.png);
	width: 7px;
	height: 11px;
	content: "";
	position: absolute;
  right: -15px;
  top: 8px;
}
.breadcrumb ul li:last-child:after {
	opacity: 0
}

.filter-row form{ justify-content: center;}

#start-date, #end-date{ text-transform: uppercase;}

.notification-div{ position: absolute; bottom: 80px; z-index: 9; left: 50%; transform: translateX(-50%);}
.form-control{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #cfcfcf;
  padding: 8px 10px;
  border: 0;
}

.btn-small{ background: #e2e2e2;
  color: #863E6F;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  margin-left: 10px;
  height: 30px;
  text-align: center;}
  
 .manage-employee a{ display:block; padding: 15px 0;}
 
.table thead th {vertical-align: top; font-size:13px; line-height:16px;}

@media (max-width: 991px ) {
  .main-wrapper {
    float: none;
    width: 100%;
    display: flex;
  }
}

@media (min-width: 601px) and (max-width: 993px) {
.box-full h5 {
  font-size: 13px !important;
}
}