<main id="main_id" class="">
    <div class="row">
      <div class="col s12">
        <div class="p-20">

          <div class="row">
            <div class="col s12"><h5 class="m-0">General Settings</h5></div>
          </div>

          <div class="row">

              <div class="col 14 m4 s12">
              <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee">
                <a class="waves-effect" [routerLink]="['../manage-employee']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">people</i>
                <span class="purple-text text-lighten-1"><h5>Manage Employees</h5></span>
                </a>
              </div>
              </div>

              <div class="col 14 m4 s12">
                
              <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../payment-form']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">person</i>
                <span class="purple-text text-lighten-1"><h5>Payment Forms</h5></span></a>
              </div>
                
              </div>

              <div class="col 14 m4 s12">
                
               <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../manage-sites']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">store</i>
                <span class="purple-text text-lighten-1"><h5>Manage Sites</h5></span></a>
              </div>
                
              </div>

              <div class="col 14 m4 s12">
                
               <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../manage-register']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">laptop_chromebook</i>
                <span class="purple-text text-lighten-1"><h5>Manage Register</h5></span></a>
              </div>
                
              </div>

              <div class="col 14 m4 s12">
                
               <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../manage-card-handheld']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">credit_card</i>
                <span class="purple-text text-lighten-1"><h5>Manage Card Handheld</h5></span></a>
              </div>
              </div>
              
               <div class="col 14 m4 s12">
                
               <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../manage-pos']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">laptop_chromebook</i>
                <span class="purple-text text-lighten-1"><h5>Manage POS</h5></span></a>
              </div>
              </div>

              <div class="col 14 m4 s12">
                
               <div class="white z-depth-1 waves-effect waves-grey box-full manage-employee"><a class="waves-effect"  [routerLink]="['../default-config']">
                <i class="grey-text medium material-icons grey lighten-4 p-20">settings_input_composite</i>
                <span class="purple-text text-lighten-1"><h5>Default Config</h5></span></a>
              </div>
              </div>
              

              


          </div>
        </div>
      </div>

<!--       <div class="col s6">
        <div style="padding: 35px;" align="center" class="card">
          <div class="row">
            <div class="left card-title">
              <b>Product Management</b>
            </div>
          </div>
          <div class="row">
            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">store</i>
                <span class="purple-text text-lighten-1"><h5>Product</h5></span>
              </div>
            </a>

            <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div>

            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">assignment</i>
                <span class="purple-text text-lighten-1"><h5>Orders</h5></span>
              </div>
            </a>
          </div>
        </div>
      </div> -->
    </div>

<!--     <div class="row">
      <div class="col s6">
        <div style="padding: 35px;" align="center" class="card">
          <div class="row">
            <div class="left card-title">
              <b>Brand Management</b>
            </div>
          </div>

          <div class="row">
            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">local_offer</i>
                <span class="purple-text text-lighten-1"><h5>Brand</h5></span>
              </div>
            </a>

            <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div>

            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">loyalty</i>
                <span class="purple-text text-lighten-1"><h5>Sub Brand</h5></span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col s6">
        <div style="padding: 35px;" align="center" class="card">
          <div class="row">
            <div class="left card-title">
              <b>Category Management</b>
            </div>
          </div>
          <div class="row">
            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">view_list</i>
                <span class="purple-text text-lighten-1"><h5>Category</h5></span>
              </div>
            </a>
            <div class="col s1">&nbsp;</div>
            <div class="col s1">&nbsp;</div>

            <a href="#!">
              <div style="padding: 30px;" class="grey lighten-3 col s5 waves-effect">
                <i class="purple-text text-lighten-1 large material-icons">view_list</i>
                <span class="truncate purple-text text-lighten-1"><h5>Sub Category</h5></span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div> -->

<!--     <div class="fixed-action-btn click-to-toggle" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large pink waves-effect waves-light">
        <i class="large material-icons">add</i>
      </a>

      <ul>
        <li>
          <a class="btn-floating red"><i class="material-icons">note_add</i></a>
          <a href="" class="btn-floating fab-tip">Add a note</a>
        </li>

        <li>
          <a class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
          <a href="" class="btn-floating fab-tip">Add a photo</a>
        </li>

        <li>
          <a class="btn-floating green"><i class="material-icons">alarm_add</i></a>
          <a href="" class="btn-floating fab-tip">Add an alarm</a>
        </li>

        <li>
          <a class="btn-floating blue"><i class="material-icons">vpn_key</i></a>
          <a href="" class="btn-floating fab-tip">Add a master password</a>
        </li>
      </ul>
    </div> -->
  </main>