<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        
        <div class="row m-0">
        <div class="col s12">
          <h5 class="mt-0 left">Manage Card Handheld
            <ul class="breadcrumb">
              <li><a href="#">General Settings</a></li>
              <li>Manage Card Handheld</li>
            </ul>
          </h5>
          <div class="right"><button mat-raised-button (click)="addCardHandHeld()">+ Add</button></div>
        </div>
        </div>
        
        <!-- <div class="row">
          <div class="col s12">
            <ul class="breadcrumb">
              <li><a href="#">General Settings</a></li>
              <li>Manage Card Handheld</li>
            </ul>
          </div>
        </div> -->
        
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 p-10">
              
              <mat-progress-bar *ngIf = "progressShow"
              class = "tp-margin"
              [mode] = "mode"
              [value] = "value"
              [bufferValue] = "bufferValue"
              >
             </mat-progress-bar>
              <div class="table-responsive">
              <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="slno">
                  <th mat-header-cell *matHeaderCellDef width="15%"> Sl No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.slno}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="tid" >
                  <th mat-header-cell *matHeaderCellDef width="50%"> TID</th>
                  <td mat-cell *matCellDef="let element"> {{element.tid}} </td>
                </ng-container>
                
                 <ng-container matColumnDef="deviceType">
                  <th mat-header-cell *matHeaderCellDef class="text-center" width="15%"> Device Type </th>
                  <td mat-cell *matCellDef="let element">{{element.deviceName}}</td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef class="text-center" width="20%"> Action </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <button mat-mini-fab><i class="material-icons" (click)="editCardHandheld(element.cardid)">edit</i></button>
                    <button mat-mini-fab color="warn" (click)="deleteCardHandHeld(element.cardid)"><i class="material-icons">delete</i></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 box-full">
                
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
