.filter-li-style{ margin:0; padding:0;}
.filter-li-style li{ display:inline-block; margin-left: 20px; color:#7c7c7c; font-size:15px;}
.filter-li-style li .mat-radio-button{ margin-left: 25px;}
.ml-0{margin-left: 0 !important;}
.ml-5{margin-left: 10px !important;}

.min-height-360{
min-height: 360px;
position:relative;
}

.min-height-360 .no-bank-found{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fab-style{position:absolute; right:30px; bottom:30px; z-index:1;}
.mat-form-field-infix{ width:100% !important;}

.error-msg{
    background: #f7695f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block; box-shadow:0 0 20px #c1c1c1
    }
    
.box-full .error-msg{ display:block;}
.white.z-depth-1 .mat-form-field {display: block;}

p.issuebank-successmsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #5dbb5c;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #5dbb5c;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #219e1f;
    }
    
  p.issuebank-errormsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #ff8080;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #ff0000;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #ff0000;
    }
    
.position-relative{ position:relative;}

.inline-flex{
    color: #707070;
    display: inline-flex;
    margin-left: 30px;
}

.inline-flex i.material-icons{
    font-size: 22px;
    margin-right: 5px;
    top: 5px;
    position: relative;
}
.height-auto{ height: auto;}
.m-0{ margin:0;}

@media only screen and (max-width: 600px) {
    .p-20 {padding: 0;}
    .mat-toolbar-single-row {display: block;}
    .filter-li-style li { display: block; margin-left: 0; color:  #7c7c7c; font-size: 15px;
    }
    .right.form-inline{ width: 100%;}
    .filter-li-style .mat-toolbar-single-row{ padding: 0;}
    .filter-li-style .mat-form-field-flex {  width: 100% !important; }
    .mat-form-field{ width: 100%;}
    .filter-li-style .mat-form-field-flex {width: 100% !important;}
    }
    