<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
<!--<app-bank-toolbar></app-bank-toolbar>-->

        <div class="row filter-row">
          <div class="col s12">
              <h5 class="left mt-0 mb-20">Bulk Issue Bank
                <ul class="breadcrumb">
                  <li><a [routerLink]="['/bank-mangement/bank']">Bank Management</a></li>
                  <li>Bulk Issue Bank</li>
                </ul>
              </h5>
              
                <div class="right form-inline">
                <!--Start Toolbar-->
                <ul class="filter-li-style">
                <mat-toolbar class="height-auto">
                  <li class="inline-flex">
                    <i class="material-icons">home</i> {{currentBranchName}}
                  </li>
                    <li class="inline-flex">
                      <i class="material-icons">today</i>{{date}}
                      <!--<label>Select Date:</label>
                      <mat-form-field class="ml-5">
                      <input matInput [matDatepicker]="select_date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                      <mat-datepicker #select_date></mat-datepicker>
                      </mat-form-field>-->
                    </li>  
                    <!--<li>
                      <label>Register:</label>
                      <mat-radio-group aria-label="Select an option" [(ngModel)]="bankStatus">
                      <mat-radio-button class="ml-5" [value]="5">Open</mat-radio-button>
                      <mat-radio-button class="ml-5" [value]="6">Closed</mat-radio-button>
                      </mat-radio-group>
                    </li>-->                  
                </mat-toolbar>
              </ul>
                
               <!--End Toolbar-->
              </div>
                
                <div class="clearfix"></div>
              <!-- <ul class="breadcrumb">
              <li><a [routerLink]="['/bank-mangement/bank']">Bank Management</a></li>
              <li>Bulk Issue Bank</li>
            </ul> -->
              
          </div>
        </div>

<!--Issue Bank Bulk table start-->

<div class="white z-depth-1 p-10 position-relative">
  
    <p *ngIf="errormessage && showErrorMsg" class="error-msg issuebank-errormsg">{{errormessage}}</p>
    <p *ngIf="successmessage && !showErrorMsg" class="issuebank-successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
  
      <mat-progress-bar *ngIf = "progressShow"
      class = "tp-margin manage-site-progressbar"
      [mode] = "mode"
      [value] = "value"
      [bufferValue] = "bufferValue"
      >
      </mat-progress-bar>
     
      <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" *ngIf="!showErrorMsg">
    
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
      <ng-container matColumnDef="date">
        <th width="10%" mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
      </ng-container>
    
      <ng-container matColumnDef="site">
        <th width="30%" mat-header-cell *matHeaderCellDef> Site </th>
        <td mat-cell *matCellDef="let element"> {{element.SiteName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="register">
        <th width="5%" mat-header-cell *matHeaderCellDef> Register </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="example-full-width fluid-input-field register-form-field">
          <input matInput placeholder="Register" class="fluid-input-field" readonly [value]="element.RegisterNumber">
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container  width="20%" matColumnDef="employee">
        <th mat-header-cell *matHeaderCellDef> Employee </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="select-form" id="{{element.RegisterId}}">
              <mat-select placeholder="Employee" class="filter-select" (selectionChange)="getEmployeeId($event,element.RegisterId)">
                <mat-option *ngFor="let employee of employees" [value]="employee.FK_Employee_ID" >
                  {{employee.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container  width="25%" matColumnDef="cashier">
        <th mat-header-cell *matHeaderCellDef> Cashier </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field class="select-form">
              <mat-select placeholder="Cashier" class="filter-select"  multiple (selectionChange)="getCashierIds($event,element.RegisterId)">
                <mat-option *ngFor="let employee of employees" [value]="employee.FK_Employee_ID" >
                  {{employee.name}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="open">
        <th width="10%" mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
          </mat-checkbox>
          Open  </th>
        <td mat-cell *matCellDef="let element">
          <!--<mat-checkbox (change)="getRegisterAndSiteIdsBK($event,element.RegisterId,element.SiteId)"></mat-checkbox>-->
          <!--(change)="$event ? selection.toggle(element) : null"-->
          <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                    [aria-label]="checkboxLabel(element)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    
    <div class="center mt-20" *ngIf="!showErrorMsg">
      <button mat-raised-button color="primary" (click)="issueBankSubmit()">Submit</button>
    </div>

</div>
<!--Issue Bank Bulk table end-->
</div>
</div>
      </div>
</main>