<main id="main_id" class="">
<div class="row">
  <div class="col s12">
    <div class="p-20">
      
      <!--<div class="row">-->
      <!--<div class="col s12">-->
      <!--  -->
      <!--  <div class="left">-->
      <!--    <h5 class="m-0">Payment Form</h5>-->
      <!--      <ul class="breadcrumb">-->
      <!--      <li><a [routerLink]="['../setting']">General Settings</a></li>-->
      <!--      <li>Payment Form</li>-->
      <!--      </ul>-->
      <!--  </div>-->
      <!--  -->
      <!--  <div class="right">-->
      <!--      <mat-form-field>-->
      <!--        <mat-label>Select Branch</mat-label>-->
      <!--        <mat-select [(value)]="filterBranchId" >-->
      <!--          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
      <!--  </div>-->
      <!--  -->
      <!--  -->
      <!--</div>-->
      <!--</div>-->
      
      
      
        <div class="row">
          <div class="col s12">
              <!--<h5 class="left m-0">Payment Form</h5>-->
              
              
        <div class="left">
          <h5 class="m-0">Payment Form</h5>
            <ul class="breadcrumb">
            <li><a [routerLink]="['../setting']">General Settings</a></li>
            <li>Payment Form</li>
            </ul>
        </div>
              
        <!--      <div class="left">-->
        <!--  <h5 class="m-0">Payment Form</h5>-->
        <!--    <ul class="breadcrumb">-->
        <!--    <li><a [routerLink]="['../setting']">General Settings</a></li>-->
        <!--    <li>Payment Form</li>-->
        <!--    </ul>-->
        <!--</div>-->
              
              <div class="right form-inline">
                <!--Start Toolbar-->
                <ul class="filter-li-style">
                <mat-toolbar>
                  <li>
            <mat-form-field>
              <mat-label>Select Branch</mat-label>
              <mat-select [(value)]="filterBranchId" >
                <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
              </mat-select>
            </mat-form-field>
                    </li>
                  <li class="inline-flex"><i class="material-icons">today</i>{{currentDate}} </li>
                </mat-toolbar>
              </ul>
                
               <!--End Toolbar-->

              
              </div>
              
          </div>
        </div>

      
      
      
      
      <div class="row">
        <div class="col s12">
          
          <div class="white z-depth-1 p-10">
            <div class="position-relative">
            <mat-progress-bar *ngIf = "progressShow"
            class = "tp-margin align-progressbar"
            [mode] = "mode"
            [value] = "value"
            [bufferValue] = "bufferValue"
            >
              
         </mat-progress-bar>
            
            <table mat-table [dataSource]="dataSource" >
            <!-- Position Column -->
            <ng-container matColumnDef="serialNo">
              <th mat-header-cell *matHeaderCellDef>Serial #</th>
              <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="formName">
              <th mat-header-cell *matHeaderCellDef>Payment</th>
              <td mat-cell *matCellDef="let element"> {{element.PaymentFormName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="formStatus">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Status </th>
              <td mat-cell *matCellDef="let element" class="center">
                <mat-slide-toggle *ngIf="!element.IsDefault" color="primary" [checked]="element.IsActive" (change)="paymentFromsStatus($event,element.PaymentFormId)"></mat-slide-toggle>
                <mat-slide-toggle *ngIf="element.IsDefault" color="primary" disabled="true" [checked]="element.IsDefault"></mat-slide-toggle>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>