<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row filter-row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Deposit</h5>
              <div class="right">
              <div class="branch-name">
                <ul>
                  <li class="inline-flex">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="CMO Total($)" readonly id="cmoTotal" value="0">
                        </mat-form-field>
                  </li>
                  
                  <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Deposit Total($)" readonly id="depositTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li>
                  <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option" *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </li>
                  
                  <li>
                    <mat-form-field>
                    <input matInput [matDatepicker]="select_date" placeholder="Selected Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            <div class="cash-coin-nav">
              <ul>
                <li class="active" (click)="routeLink('cashcoin')">Cash &amp; Coins</li>
                <li (click)="routeLink('../deposit/checks')">Checks</li>
                <li (click)="routeLink('cc-handhelds')">CC Handhelds</li>
                <li (click)="routeLink('pos')">POS</li>
                <li (click)="routeLink('amex')">Amex</li>
                <li (click)="routeLink('other')">Other Daily Deposits</li>
              </ul>
            </div>
              
            <div class="left mt-10" *ngIf="newDepositShowHide">
                <button mat-raised-button color="primary" (click)="openNewDepositPopup()">New Deposit</button>
            </div>
        
            <div class="clearfix"></div>
            
          <div class="mt-10 table-style">
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
                >
          </mat-progress-bar>
          <!--Cash Coin Table Starts Here-->
          <table mat-table [dataSource]="pickupDataSource" *ngIf = "showCashCoinDeposit">

            <!-- Weight Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="center" width="7%">Select</th>
                <td mat-cell *matCellDef="let element" class="center"><mat-checkbox color="primary" (change)="getPickupIds($event,element.PickupId)"></mat-checkbox></td>
            </ng-container>
            
            <!-- Position Column -->
            <ng-container matColumnDef="picup_number">
              <th mat-header-cell *matHeaderCellDef width="18%"> Pickup Number </th>
              <td mat-cell *matCellDef="let element"> {{element.PickupNumber}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="pickup_type">
              <th mat-header-cell *matHeaderCellDef width="18%"> Type </th>
              <td mat-cell *matCellDef="let element"> {{element.TypeName}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="site_name">
              <th mat-header-cell *matHeaderCellDef width="32%"> Site </th>
              <td mat-cell *matCellDef="let element"> <span class="left">{{element.SiteName}}</span></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="register_number">
              <th mat-header-cell *matHeaderCellDef width="7%"> Register </th>
              <td mat-cell *matCellDef="let element"> {{element.RegisterNumber}} </td>
            </ng-container>
            
            <ng-container matColumnDef="pickup_person">
              <th mat-header-cell *matHeaderCellDef width="22%"> Employee </th>
              <td mat-cell *matCellDef="let element">
                <div class="tooltip">
                      {{element.EmployeeName}}
                     <span class="tooltiptext"><img src="{{element.EmployeeImage}}" /></span>
                </div>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef width="10%"> Amount($) </th>
              <td mat-cell *matCellDef="let element" class="text-right"> {{element.SuggestedAmount}}<span  *ngIf="isInt(element.SuggestedAmount)">.00 </span></td>
            </ng-container>
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          <div *ngIf = "!showCashCoinDeposit" class="text-center no-data"><span>There is no deposit.</span></div>
          
        </div>
       <!--Cash Coin Table End Here-->
       
             <div class="mt-20">
            
            <h6 class="left mb-10"><strong>Deposit Slip</strong></h6>
            
            <!--drfgredtgredtreterter-->
            <div class="table-responsive">
            <table mat-table [dataSource]="depositSlipDataSource" *ngIf ="showCashCoinDepositList">
            <!-- Position Column -->
            <!--<ng-container matColumnDef="export_id">
              <th mat-header-cell *matHeaderCellDef width="11%"> Export Id </th>
              <td mat-cell *matCellDef="let element"> {{element.DepositDate}} </td>
            </ng-container>-->
            
            <ng-container matColumnDef="tracking_no">
              <th mat-header-cell *matHeaderCellDef width="11%"> Deposit Slip No </th>
              <td mat-cell *matCellDef="let element" > {{element.TrackingNumber}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="deposit_amount">
              <th mat-header-cell *matHeaderCellDef width="8%"> Amount($) </th>
              <td mat-cell *matCellDef="let element" class="text-right"> <span>{{element.DepositAmount}}</span><span  *ngIf="isInt(element.DepositAmount)">.00 </span></td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="armored_date">
              <th mat-header-cell *matHeaderCellDef width="11%"> Armored Date </th>
              <td mat-cell *matCellDef="let element"> {{element.ArmoredDate}} </td>
            </ng-container>
            
            <ng-container matColumnDef="bag">
              <th mat-header-cell *matHeaderCellDef width="8%"> Bag </th>
              <td mat-cell *matCellDef="let element" class="text-right"> {{element.Bag}} </td>
            </ng-container>
            
            <ng-container matColumnDef="pickup_person">
              <th mat-header-cell *matHeaderCellDef width="16%"> Pickup Person </th>
              <td mat-cell *matCellDef="let element"> {{element.PickupPerson}} </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.StatusName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="comment">
              <th mat-header-cell *matHeaderCellDef width="22%"> Comment </th>
              <td mat-cell *matCellDef="let element"> {{element.Comment}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef width="13%" class="center"> Action </th>
              <td mat-cell *matCellDef="let element" class="center">
                <button mat-mini-fab (click)="editCashCoinDeposit(element.DepositId)"><i class="material-icons">edit</i></button>
                <!--<button mat-mini-fab color="warn"><i class="material-icons">delete</i></button>-->
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
        </div>
          <div *ngIf = "!showCashCoinDepositList" class="text-center no-data"><span>There is no deposit Slip.</span></div>
         </div>

        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>