<div mat-dialog-content class="bank-edit-popup cashcoin-popup">
  <p *ngIf="errormessage && showErrorMsg" class="error-msg deposit-errormsg">{{errormessage}}</p>
  <p *ngIf="successmessage && !showErrorMsg" class="deposit-successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
  
  <mat-progress-bar *ngIf = "progressShow"
    class = "tp-margin manage-site-progressbar"
    [mode] = "mode"
    [value] = "value"
    [bufferValue] = "bufferValue"
    >
  </mat-progress-bar>
  <h6 class="center pop-title"><strong>Edit CashCoin Deposit</strong>
    <a (click)="onNoClick()" class="bank-edit-popup-close">
        <mat-icon>close</mat-icon>
    </a>
  </h6>
  <form [formGroup]="editCashCoinDepositForm" (ngSubmit)="editCashCoinDepositFormSubmit()">
    
    
  <div class="row mb-5">
    <div class="col s12 m12 l12">
      <input class="close-bank-input width-100" tabIndex="-1" placeholder="Deposit Slip No. (Optional)" value="" formControlName="trackingNo">
    </div>
  </div>
  
  

  
  <table class="close-bank-main-table">
    <tr>
        <td class="pt-0">
          
            <table class="close-bank-table input-text-right">
                <tr class="table-head-light">
                    <td align="left" valign="top"><!--Denomination--></td>
                    <td align="left" valign="top" colspan="2" class="text-center">Suggested</td>
                    <td align="left" valign="top" colspan="2" class="text-center">Actual</td>
                </tr>
                
                <tr>
                    <td align="left" valign="top"><strong>Currency</strong></td>
                    <td align="left" valign="top" class="text-center"><strong>Count</strong></td>
                    <td align="left" valign="top" class="text-center"><strong>Amount($)</strong></td>
                    <td align="left" valign="top" class="text-center"><strong>Count</strong></td>
                    <td align="left" valign="top" class="text-center"><strong>Amount($)</strong></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Hundred</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestHundredsCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestHundredsAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="0" type="number" formControlName="hundredsCount" [ngClass]="{'error-input': hundredsBillError}" [value]="hundredsCount" (keyup)="hundredsChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': hundredsError}" [value]="hundreds" formControlName="hundreds" (keyup)="hundredsChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Fifty</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestFiftiesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestFiftiesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': fiftiesBillError}" [value]="fiftiesCount" formControlName="fiftiesCount" (keyup)="fiftiesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': fiftiesError}" [value]="fifties" formControlName="fifties" (keyup)="fiftiesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Twenties</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTwentiesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTwentiesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': twentiesBillError}" [value]="twentiesCount" formControlName="twentiesCount" (keyup)="twentiesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': twentiesError}" [value]="twenties" formControlName="twenties" (keyup)="twentiesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Tens</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTensCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTensAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': tensBillError}" [value]="tensCount" formControlName="tensCount" (keyup)="tensChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': tensError}" [value]="tens" formControlName="tens" (keyup)="tensChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Fives</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestFivesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestFivesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': fivesBillError}" [value]="fivesCount" formControlName="fivesCount" (keyup)="fivesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': fivesError}" [value]="fives" formControlName="fives" (keyup)="fivesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Twos</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTwosCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestTwosAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': twosBillError}" [value]="twosCount" formControlName="twosCount" (keyup)="twosChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': twosError}" [value]="twos" formControlName="twos" (keyup)="twosChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Ones</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestOnesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestOnesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': onesBillError}" [value]="onesCount" formControlName="onesCount" (keyup)="onesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': onesError}" [value]="ones" formControlName="ones" (keyup)="onesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Quarters</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestQuartersCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestQuartersAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': quartersBillError}" [value]="quartersCount" formControlName="quartersCount" (keyup)="quartersChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': quartersError}" [value]="quarters" formControlName="quarters" (keyup)="quartersChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Dimes</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestDimesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestDimesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': dimesBillError}" [value]="dimesCount" formControlName="dimesCount" (keyup)="dimesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': dimesError}" [value]="dimes" formControlName="dimes" (keyup)="dimesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Nickles</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestNickelsCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestNickelsAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': nicklesBillError}" [value]="nicklesCount" formControlName="nicklesCount" (keyup)="nicklesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': nicklesError}" [value]="nickles" formControlName="nickles" (keyup)="nicklesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Pennies</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestPenniesCount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestPenniesAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': penniesBillError}" [value]="penniesCount" formControlName="penniesCount" (keyup)="penniesChangeCount($event.target.value)"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" [ngClass]="{'error-input': penniesError}" [value]="pennies" formControlName="pennies" (keyup)="penniesChangeAmount($event.target.value)"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top">Change</td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number"></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" tabIndex="-1" readonly="readonly" type="number" formControlName="SuggestChangeAmount" value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" readonly="readonly"  value=""></td>
                    <td align="left" valign="top" class="text-center"><input class="close-bank-input deposit-slip-input number-field" type="number" formControlName="change" value="" (change)="calculateTotal()"></td>
                </tr>
                
                <tr>
                    <td align="left" valign="top"></td>
                    <td align="left" valign="top" class="text-center"></td>
                    <td align="left" valign="top" class="text-center"></td>
                    <td align="left" valign="top" class="text-right"><strong>Total($)</strong></td>
                    <td align="left" valign="top" class="text-right"><strong>{{totalCash}}<span  *ngIf="isInt(totalCash)">.00 </span></strong></td>
                </tr>
                
              </table>
            
          </td>
        </tr>
      </table>
  
    <div class="row mb-5">
      <div class="col s12 m12 l12">
        <hr>
      </div>
    </div>

    <div class="row mb-5">
    <div class="col s12 m12 l6">
      <mat-form-field>
      <input matInput [matDatepicker]="armoredDate" placeholder="Armored Date" value="" formControlName="ArmoredDate" (dateChange)="onChangeArmoredDate('change', $event)">
      <mat-datepicker-toggle matSuffix [for]="armoredDate"></mat-datepicker-toggle>
      <mat-datepicker #armoredDate></mat-datepicker>
      </mat-form-field>
    </div>
          
          
    <div class="col s12 m12 l6">
      <input class="close-bank-input width-100" tabIndex="-1" placeholder="Bag" value="" formControlName="Bag">
    </div>
    </div>
    
    <div class="row mb-5">          
    <div class="col s12 m12 l12">
      <input class="close-bank-input width-100" tabIndex="-1" placeholder="Pickup Person" value="" formControlName="PickupPerson">
    </div>
    </div>
        
    <div class="row mb-5">
      <div class="col s12 m12 l12">
        <textarea class="close-bank-input width-100" placeholder="Comments" formControlName="Comment"></textarea>
        <!--<input class="close-bank-input width-100" tabIndex="-1" placeholder="Comment" value="" formControlName="Comment">-->
      </div>
    </div>
  
  <div class="center"><button class="mt-5 mb-5" [disabled]="submitDisabled" mat-raised-button color="primary">Update</button></div>

  </form>
</div>