/*.mat-dialog-form .mat-form-field {
    display: block;
    width: 100% !important;}*/
    .filter-li-style{ margin:0; padding:0;}
    .filter-li-style li{ display:inline-block; margin-left: 20px; color:#7c7c7c; font-size:15px;}
    .filter-li-style li .mat-radio-button{ margin-left: 25px;}
    .ml-0{margin-left: 0 !important;}
    .ml-5{margin-left: 10px !important;}
    
    .min-height-360{
    min-height: 360px;
    position:relative;
    }
    
    .min-height-360 .no-bank-found{
        position: absolute;
        left: 50%;
        font-size: 28px;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        font-weight: 600;
        color: #aecbff;
    }
    
    .fab-style{position:fixed; right:30px; bottom:30px; z-index:1;}
    
    .btn-add{
        cursor: pointer;
        color: #ffffff;
        background: #66c576;
        opacity: 0.7;
        display: flex;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        }
    .btn-add:hover{ opacity:1;}
    
    .btn-edit{
        cursor: pointer;
        color: #ffffff;
        background: #94baff;
        opacity: 0.7;
        display: flex;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        }
    .btn-edit:hover{ opacity:1;}
    
    .btn-edit .material-icons{ font-size: 18px; }
    
    .cchandheld-align {
        margin-top: -.84375em;
    }
    
    .btn-close{
        cursor: pointer;
        color: #ffffff;
        background: #e84646;
        opacity: 0.7;
        display: flex;
        height: 30px;
        width: 30px;
        border-radius: 40px;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        }
        
    .btn-close:hover{ opacity:1;}
    
    
    .filter-li-style {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    /*.custom-table tr.head-th {
        height: 40px !important;
        color: #fff;
        background: #9a9a9a !important;
        font-family: 'Poppins', sans-serif;
    }
    
    .custom-table th {
        border-radius: 0;
        font-size: 13px;
        font-weight: 500;
        color: #fff;
        text-transform: uppercase;
        padding: 5px 8px !important;
        border: 1px solid #d8d8d8;
    }*/
    .custom-table {
        border: 2px solid #d8d8d8;
    }
    .custom-table label{
        font-size: 15px !important;
        color: #1c1c1c;
    }
    
        .custom-table tr:first-child td{background: #d8d8d8;}
    /*.custom-table tr:nth-child(even) {background: #ddd}
    .custom-table tr:nth-child(odd) {background: #FFF}*/
    
    .custom-table .custom-input{ border:2px solid #dddddd;}
    
    .custom-table td,.custom-table1 td {
        padding: 8px !important;
        border-radius:0px;
        /*border: 1px solid #d8d8d8;*/
        position:relative;
    }
    
    .custom-table1 {
        padding: 5px 8px !important;
        border-radius:0px;
        border: 1px solid #d8d8d8;
        font-size:13px;
    }
    .custom-table1 tr{ border-bottom: 1px solid #d8d8d8;}
    
    .close-bank-table{
        /*margin:2px;*/
        color: #000;
        /*width:auto;*/
    }
    
    .close-bank-table td,.close-bank-table td {
        padding: 1px 4px !important;
        border-radius:0px;
        border: 1px solid #d8d8d8;
        position:relative;
    }
    
    
    .valign-top{
        vertical-align:top;
    }
    .align-tight{
        text-align:right;
    }
    
    .mt-20{ margin-top:20px;}
    
    .custom-table .mat-radio-button { padding: 0 8px;}
    .custom-input{ border:0; border-bottom:1px solid #ccc;}
    
    .success-msg-config{
    color: #85b385;
    top: 10px;
    right: 30px;
    font-size: 13px;
    font-weight: 500;
    }
    .error-msg-config{
    color: #dc8585;
    top: 10px;
    right: 30px;
    font-size: 13px;
    font-weight: 500;
    }
    
    .error-msg-newpickup{
        color: #ffffff;
        top: 10px;
        right: 30px;
        font-size: 13px;
        background: #dc8585;
        font-weight: 500;
        padding: 8px;
        text-align: center;
        width: 83%;
        border-radius: 4px;
        box-shadow: 0 0 5px #dc8585;
        margin: 10px auto;
    }
    
    .success-msg-newpickup{
        color: #ffffff;
        top: 10px;
        right: 30px;
        font-size: 13px;
        background: #8acc76;
        font-weight: 500;
        padding: 8px;
        text-align: center;
        width: 50%;
        border-radius: 4px;
        box-shadow: 0 0 5px #8acc76;
        margin: 0 auto;
    }
    
    .mat-dialog-container{ position: relative;}
    
    .pop-title{
        /*position: absolute;
        background: #686868;
        width: 100%;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        color: #fff;
        z-index:1;*/
        
            position: absolute;
background: #ffffff;
width: 100%;
top: 0;
left: 0;
margin: 0;
padding: 8px;
color: #7b1fa2;
z-index: 1;
text-transform: uppercase;
letter-spacing: 2px;
    }
    
    
    .bank-edit-popup-close{
    position: absolute;
    right: 8px;
    top: 4px;
    color: #ff7777;
    cursor: pointer;
}
    
    .bank-edit-popup{padding-top: 8px;}
    
    .mat-error {
        display: block;
        font-size: 12px;
        position: absolute;
    }
    .mat-dialog-content{ padding-left:0; padding-right:0;}
    
    .close-bank-main-table td.top-align{
        vertical-align:top;
    }
    
    .close-bank-main-table td{
        font-size: 13px;
        line-height: normal;
    }
    
    .close-bank-input{
        background: #fff;
        width:170px;
        padding: 2px 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }
    
    .close-bank-input:focus{
        outline:none;
    }
    
    .close-bank-input.number-field{width: 60px; height: 20px;}

    .input-text-right .close-bank-input.number-field{ text-align: right;}

    .close-bank-input.number-field-lg{width: 80px; height: 20px;}
    
    .table-head-light{
        background: #eaeaea;
        font-weight: 600;
        color: #555;
    }
    
    .pt-0{ padding-top: 0;}
    .pb-0{ padding-bottom:0;}
    
    .close-bank-main-table .mat-form-field{ width:100% !important;}
    .close-bank-main-table .mat-form-field-wrapper{ width:100% !important;}
    .close-bank-main-table1 .mat-form-field-appearance-legacy .mat-form-field-wrapper{ width:100% !important;}


    


    .inline-flex{
        color: #707070;
        display: inline-flex;
        margin-left: 30px;
    }

    .branch-name ul li{
        margin: 0.5rem 0 0.4rem 0;
    }

    .branch-name ul {
        margin: 0;
    }
    
    .filter-li-style input:not([type]):disabled{
            border:0;
    }
    
p.closebank-successmsg{
color: #fff;
position: absolute;
background: #5dbb5c;
padding: 10px;
z-index: 9;
box-shadow: 0 0 5px #5dbb5c;
top: 40%;
left: 50%;
border-radius: 5px;
-webkit-transform: translate(-50%);
transform: translate(-50%);
text-align: center;
border: 1px solid #219e1f;
}


.close-bank-table td{
    font-size: 13px;
    line-height: normal;
}


.close-bank-main-table input[type=text][readonly="readonly"]{
    color: rgba(0, 0, 0, 1);
    border-bottom: inherit;
}

.width-100{ width:100%;}

.error-input{
    background: #fff2f2;
    border: 1px solid #fb9f9f;
    color: #ff6b6b;
}

.close-bank-main-table td, .close-bank-main-table th {
    padding: 5px 5px;}
    
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number]{
   -moz-appearance: textfield;
}


.othercharges-tab .mat-expansion-panel{ 
    background: #eaeaea;
    box-shadow: none;
    border: 1px solid #d8d8d8;
    border-radius: 0px;
    font-weight: 600;
 }

 .othercharges-tab .mat-expansion-panel .mat-expansion-panel-header{ height: 34px !important; }
  .othercharges-tab .mat-expansion-panel-header-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
}
.close-bank-table{
    background: #fff;
    color: #000;
}

.close-bank-input.number-field{
    /*width: 100%;*/
    height: 18px;
    text-align: right;
}


.bank-edit-popup.mat-dialog-content {
    width: 65vw;
}


.bank-edit-popup.edit-new-pickup.mat-dialog-content {
   width: 40vw;
}


.close-bank-main-table td.pad-0 {
    padding: 0;
}

.top-align{
    width: 33.33333%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 5px;
}

.top-align-pickup1{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 5px;
}

.top-align-pickup2{
    width: 60%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 5px;
}

.mt-10{
    margin-top: 7px;
}

.close-bank-input.number-field {
    width: 100%;
    height: 18px;
    text-align: right;
}


@media (max-width: 600px){
    .hide-sm{ display: none; }
    .filter-row .mat-form-field {
    margin-left: 0;
    width: 100%;
    }
    .filter-li-style .mat-toolbar-single-row { height: auto;}

}


@media (max-width: 767px){
    .bank-edit-popup.new-pickup-popup.mat-dialog-content { width: 100%; display: table-cell;}
    .new-pickup-table1,.new-pickup-table2 { width: 100%;}
    .top-align,.top-align-pickup1,.top-align-pickup2{width: 100%;}

    .bank-edit-popup.mat-dialog-content{ width: 100%; display: table-cell; }
    .bank-edit-popup.edit-new-pickup.mat-dialog-content { width: 90vw;}
}


@media (min-width: 768px) and (max-width: 1199px){
    .bank-edit-popup.new-pickup-popup.mat-dialog-content,.bank-edit-popup.mat-dialog-content { width: 65vw; display: table-cell;}
    .new-pickup-table1 { width: 40%;}
    .new-pickup-table2 { width: 60%;}
    .right.form-inline{ width: 100%;}
    .bank-edit-popup.edit-new-pickup.mat-dialog-content { width: 65vw;
    display: table-cell;}
}

@media (min-width: 768px) and (max-width: 991px){
    .bank-edit-popup.mat-dialog-content{ width: 82vw;}
}

@media only screen and (max-width: 600px) {
    .p-20 {padding: 0;}
    .mat-toolbar-single-row {display: block;}
    .filter-li-style li { display: block; margin-left: 0; color:  #7c7c7c; font-size: 15px;
    }
    .right.form-inline{ width: 100%;}
    .filter-li-style .mat-toolbar-single-row{ padding: 0;}
    .filter-li-style .mat-form-field-flex {  width: 100% !important; }
    .mat-form-field{ width: 100%;}
    .filter-li-style .mat-form-field-flex {width: 100% !important;}
    }

    @media (min-width: 601px) and (max-width: 766px){
        .mat-toolbar-single-row{ white-space:normal; padding: 0;}
        .filter-li-style li{	margin-left: 0; width: 100%; padding: 0 6px;}
        .filter-li-style .mat-form-field {
            margin: 0;
            width: 100%;
        }
    }


    @media (min-width: 768px) and (max-width: 1199px) {
		.mat-toolbar-single-row{ white-space:normal; padding: 0;}
        .filter-li-style li{	margin-left: 0; width: 100%; padding: 0 6px;}
        .filter-li-style .mat-form-field {
            margin: 0;
            width: 100%;
        }
	}
    
    



    
    