<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row mb-0">
          <div class="col s12 height-50">
            <h5 class="left mt-0 mb-20">Bank Summary

              <ul class="breadcrumb">
                <li><a [routerLink]="['../bank']">Bank Management</a></li>
                <li>Bank Summary</li>
                </ul>

            </h5>
            <!--<div class="clearfix"></div>-->
            
            <div class="right form-inline">
              <!--Start Toolbar-->
              <ul class="filter-li-style">
              <mat-toolbar>
                 <li>
                  <mat-form-field>
                      <mat-label>Select Branch</mat-label>
                      <mat-select [(value)]="filterBranchId" disabled="disabled">
                        <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                 </li>
                 <li>
                   <!-- <label>Select Date:</label>-->
                    <mat-form-field class="">
                    <input matInput [matDatepicker]="select_date" disabled="disabled" placeholder="Selected Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>      
              </mat-toolbar>
            </ul>
             <!--End Toolbar-->
          </div>
                      
             
            </div>
          </div>
        
          <!-- <div class="row">
            <div class="col s12">
              <ul class="breadcrumb">
              <li><a [routerLink]="['../bank']">Bank Management</a></li>
              <li>Bank Summary</li>
              </ul>
            </div>
          </div> -->
        
        <div class="row">
          <div class="col s12">
           <!--      Start Progress Bar       -->
            <mat-progress-bar *ngIf = "progressShow"
               class = "tp-margin manage-site-progressbar"
               [mode] = "mode"
               [value] = "value"
               [bufferValue] = "bufferValue"
               >
           </mat-progress-bar> 
          <!--      End Progress Bar       -->
          
            <div class="white z-depth-1 p-10 min-height-360">
              <div class="table-style">
              <table mat-table [dataSource]="dataSource" *ngIf="bankSummaryShow">

                <ng-container matColumnDef="registerDate">
                  <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Register Date </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.BankIssueDate}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="siteName">
                  <th mat-header-cell *matHeaderCellDef width="22%"> Site </th>
                  <td mat-cell *matCellDef="let element"> {{element.SiteName}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="registerNumber">
                  <th mat-header-cell *matHeaderCellDef width="8%" class="center"> Reg. No. </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.RegisterNumber}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="pickupNumber">
                  <th mat-header-cell *matHeaderCellDef width="10%" class="center"> Pickup No. </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.PickupNumber}} </td>
                </ng-container>

                 <!-- Symbol Column -->
                 <ng-container matColumnDef="pickupDate">
                  <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Pickup Date </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.PickupDate}} </td>
                </ng-container>

                 <!-- Symbol Column -->
                 <ng-container matColumnDef="pickupTime">
                  <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Pickup Time </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.PickupTime}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="totalPickup">
                  <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Total Pickup </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.PickupTotal}} </td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef width="14%" class="center"> Action </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <button mat-mini-fab (click)="openEditPopup(element.BranchName,element.BankId,element.BankIssueDate,element.Type,element.PickupId,element.SiteName,element.RegisterNumber,element.PickupDate,element.PickupTime,element.PickupTotal,element.PickupNumber)"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp; 
                    <button mat-mini-fab color="warn"><i class="material-icons">delete</i></button>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
              <div *ngIf="!bankSummaryShow" class="no-bank-found">There is no pickup</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>