<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row filter-row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Deposit</h5>
              <div class="right">
              <div class="branch-name">
                <ul>
                 <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="CMO Total($)" readonly id="cmoTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Deposit Total($)" readonly id="depositTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li>
                  <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option" *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </li>
                  
                  <li>
                    <mat-form-field class="">
                    <input matInput [matDatepicker]="select_date" placeholder="Selected Date" [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            <div class="cash-coin-nav">
              <ul>
                <li (click)="routeLink('../deposit')">Cash &amp; Coins</li>
                <li (click)="routeLink('../deposit/checks')">Checks</li>
                <li (click)="routeLink('../deposit/cc-handhelds')">CC Handhelds</li>
                <li (click)="routeLink('../deposit/pos')">POS</li>
                <li class="active" (click)="routeLink('../deposit/amex')">Amex</li>
                <li (click)="routeLink('../deposit/other-daily-deposits')">Other Daily Deposits</li>
              </ul>
            </div>
          <div class="clearfix"></div>
          <div class="mt-10 table-style">
            
          <p *ngIf="errormessage && showErrorMsg" class="deposit-errormsg">{{errormessage}}</p>
          <p *ngIf="successmessage && !showErrorMsg" class="successmsg"><i class="material-icons left">sentiment_very_satisfied</i> {{successmessage}}</p>
          
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
           >
          </mat-progress-bar>
          
        <form (ngSubmit)="amexFormSubmit()" *ngIf="showAmexDeposit">
          
          <table mat-table [dataSource]="amexDataSource">
            
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="text-left" width="2%">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
                  </mat-checkbox></th>
                
                <td mat-cell *matCellDef="let element" class="text-left">
                  <!--<mat-checkbox color="primary" (change)="getAmexIds($event,element.CloseId)"></mat-checkbox>-->
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                    [aria-label]="checkboxLabel(element)">
                  </mat-checkbox>
                </td>
            </ng-container>
            
            <!-- Position Column -->
            <ng-container matColumnDef="site_name">
              <th mat-header-cell *matHeaderCellDef  width="42%"> Site </th>
              <td mat-cell *matCellDef="let element">
                <input id="close_id_{{element.Index}}" type="hidden" [value]="element.CloseId">
                <input id="bank_id_{{element.Index}}" type="hidden" [value]="element.BankId">
                <input id="pos_id_{{element.Index}}" type="hidden" [value]="element.PosId">
                {{element.SiteName}}
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="register" width="10%">
              <th mat-header-cell *matHeaderCellDef class="center"> Register </th>
              <td mat-cell *matCellDef="let element" class="center">{{element.RegisterNumber}} </td>
            </ng-container>
          
            
            <!--<ng-container matColumnDef="batch_no">-->
            <!--  <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Batch# </th>-->
            <!--  <td mat-cell *matCellDef="let element" class="center"> {{element.batch_no}} </td>-->
            <!--</ng-container>-->
            
            <ng-container matColumnDef="amex_suggested" width="20%">
              <th mat-header-cell *matHeaderCellDef class="center"> AMEX Suggested($) </th>
              <td mat-cell *matCellDef="let element" class="text-right"> {{element.AmexSuggestAmount}}<span *ngIf="isInt(element.AmexSuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="amex_actual" width="20%">
              <th mat-header-cell *matHeaderCellDef class="center"> AMEX Actual($) </th>
              <td mat-cell *matCellDef="let element" class="center input-text-right"> <input class="close-bank-input number-field" id="amex_actual_{{element.Index}}" type="number" [value]="element.AmexSuggestAmount" (keyup)="checkChange()"> </td>
            </ng-container>
            
            <!--<ng-container matColumnDef="is_reviewd">
              <th mat-header-cell *matHeaderCellDef class="center"> Is Reviewed </th>
              <td mat-cell *matCellDef="let element" class="center"> <mat-slide-toggle></mat-slide-toggle></td>
            </ng-container>-->
            
           <!-- <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Total </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.total}} </td>
            </ng-container>-->
            
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAMEX"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAMEX;"></tr>
          </table>
          <!--</div>-->
          
          <table class="submit-table">
            <tr>
              <td>
                <div class="center"><button class="mt-5 mb-5" [disabled]="submitButtonDisable"  mat-raised-button color="primary">Submit</button></div>
              </td>
            </tr>
          </table>
          
          </form>
          <div *ngIf = "!showAmexDeposit" class="no-data text-center"><span>There is no deposit.</span></div>
        </div>
          
                <div class="mt-20">
          <h6 class="left mb-10"><strong>AMEX Deposit List</strong></h6>          
          
        <!--   ----------------------CC Handheld Deposit List Table------------------       -->
          <table mat-table [dataSource]="amexSlipDataSource" *ngIf="showAmexDepositList">
            
             <!-- Position Column -->
            <ng-container matColumnDef="site_name">
              <th mat-header-cell *matHeaderCellDef  width="30%"> Site </th>
              <td mat-cell *matCellDef="let element">
                <input id="close_id_{{element.Index}}" type="hidden" [value]="element.CloseId">
                <input id="bank_id_{{element.Index}}" type="hidden" [value]="element.BankId">
                <input id="pos_id_{{element.Index}}" type="hidden" [value]="element.PosId">
                {{element.SiteName}}
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="register">
              <th mat-header-cell *matHeaderCellDef class="center" width="10%"> Register </th>
              <td mat-cell *matCellDef="let element" class="center">{{element.RegisterNumber}} </td>
            </ng-container>
            
            <ng-container matColumnDef="amex_suggested">
              <th mat-header-cell *matHeaderCellDef width="15%" class="center"> AMEX Suggested($) </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.AmexSuggestAmount}} <span  *ngIf="isInt(element.AmexSuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="amex_actual">
              <th mat-header-cell *matHeaderCellDef class="center"  width="15%"> AMEX Actual($) </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="amex-lable-{{element.DepositId}}">
                {{element.AmexDepositAmount}} <span  *ngIf="isInt(element.AmexDepositAmount)">.00 </span>
                </span>
                <span style="display:none;" id="amex-input-{{element.DepositId}}">
                  <input class="close-bank-input number-field" id="up_amex_{{element.DepositId}}" type="number" [value]="element.AmexDepositAmount">
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="center"  width="10%"> Status </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.StatusName}}</td>
            </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="center" width="20%"> Action </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="action-box-{{element.DepositId}}">
                <button mat-mini-fab (click)="editAMEXDeposit(element.DepositId)"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;
                <!--<button mat-mini-fab color="warn" (click)="amexDepositDelete(element.DepositId)"><i class="material-icons">delete</i></button>-->
                </span>
                
                <span style="display:none;" id="save-box-{{element.DepositId}}">
                  <button title="Update" mat-mini-fab (click)="updateAmexDeposit(element.DepositId)"><i class="material-icons">check</i></button>&nbsp;&nbsp;&nbsp;
                  <button title="Cancel" mat-mini-fab color="warn" (click)="cancelAMEXDeposit(element.DepositId)"><i class="material-icons">clear</i></button>
                </span>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsAMEXSlip"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsAMEXSlip;"></tr>
          </table>
          <div *ngIf = "!showAmexDepositList" class="no-data text-center"><span>There is no deposit Slip.</span></div>
          </div>

         
        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>