<ngx-loading-bar [includeSpinner]="false" [height]="'4px'" [color]="'b1b91e'" [fixed]="true"></ngx-loading-bar>
<section *ngIf="isLogin, else login">
<app-sidebar [username]="username"></app-sidebar>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
</section>

<ng-template #login>
  <section class="container-fluid">
      <router-outlet></router-outlet>
  </section>
</ng-template>



      