<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row filter-row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Checks</h5>
              <div class="right">
              <div class="branch-name">
                <ul>
                  <li class="inline-flex">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="CMO Total($)" readonly id="cmoTotal" value="0">
                        </mat-form-field>
                  </li>
                  
                  <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Deposit Total($)" readonly id="depositTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li>
                  <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </li>
                  
                  <li>
                    <mat-form-field class="">
                    <input matInput [matDatepicker]="select_date" placeholder="Selected Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            <div class="cash-coin-nav">
              <ul>
                <li (click)="routeLink('../deposit')">Cash &amp; Coins</li>
                <li class="active" (click)="routeLink('../deposit/checks')">Checks</li>
                <li (click)="routeLink('../deposit/cc-handhelds')">CC Handhelds</li>
                <li (click)="routeLink('../deposit/pos')">POS</li>
                <li (click)="routeLink('../deposit/amex')">Amex</li>
                <li (click)="routeLink('../deposit/other-daily-deposits')">Other Daily Deposits</li>
              </ul>
            </div>
              
           <p *ngIf="errormessage && showErrorMsg" class="deposit-errormsg">{{errormessage}}</p>
          <p *ngIf="successmessage && !showErrorMsg" class="successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
        
          <div class="clearfix"></div>
          <div class="mt-10 table-style">
            
          
          
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
           >
          </mat-progress-bar>
          
          <form (ngSubmit)="checkSubmit()" *ngIf="checkDepositShow">
            <table mat-table [dataSource]="checksDataSource">
  
              
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="text-left" width="2%">
                  <!--<mat-checkbox color="primary"></mat-checkbox>-->
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                
                <td mat-cell *matCellDef="let element" class="text-left">
                  <!--<mat-checkbox color="primary"></mat-checkbox>-->
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                    [aria-label]="checkboxLabel(element)">
                  </mat-checkbox>
                </td>
            </ng-container>
  
              <!-- Position Column -->
              <ng-container matColumnDef="site_name">
                <th mat-header-cell *matHeaderCellDef width="20%" > Site </th>
                <td mat-cell *matCellDef="let element">
                  <input id="bank_id_{{element.Index}}" type="hidden" [value]="element.BankId">
                  <input id="payment_form_id_{{element.Index}}" type="hidden" [value]="element.PaymentFormId">
                  <input id="pickup_payment_form_id_{{element.Index}}" type="hidden" [value]="element.PickupPaymentFormId">
                  {{element.SiteName}}
                </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="register">
                <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Register </th>
                <td mat-cell *matCellDef="let element" class="center"> <input  type="hidden" [value]="element.RegisterId"> {{element.RegisterNumber}} </td>
              </ng-container>
            
             
              
              <ng-container matColumnDef="suggested">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Suggested($) </th>
                <td mat-cell *matCellDef="let element" class="center"> {{element.CheckSuggestAmount}} <span  *ngIf="isInt(element.CheckSuggestAmount)">.00 </span></td>
              </ng-container>
              
              <ng-container matColumnDef="actual">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Actual($) </th>
                <td mat-cell *matCellDef="let element" class="center"> <input class="close-bank-input number-field" type="number" id="check_actual_{{element.Index}}" [value]="element.CheckSuggestAmount" (keyup)="checkChange()"> </td>
              </ng-container>              
          
              
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          <!--</div>-->
          
          <table class="submit-table">
            <tr>
              <td>
                <div class="center"><button class="mt-5 mb-5" [disabled]="checkSubmitButtonEnaDis"  mat-raised-button color="primary">Submit</button></div>
              </td>
            </tr>
          </table>
          </form>
          <div *ngIf = "!checkDepositShow" class="no-data text-center"><span>There is no deposit.</span></div>
        </div>
        <div class="mt-20">
          <h6 class="left mb-10"><strong>Checks Deposit List</strong></h6>          
          
        <!--   ----------------------CC Handheld Deposit List Table------------------       -->
          <table mat-table [dataSource]="checksDepositListDataSource" *ngIf="checkDepositSlipShow">
            <!-- Position Column -->
            <ng-container matColumnDef="site_name">
              <th mat-header-cell *matHeaderCellDef width="15%" > Site </th>
              <td mat-cell *matCellDef="let element"> {{element.SiteName}}
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="register">
              <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Register </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.RegisterNumberList}} </td>
            </ng-container>
          
          
            <ng-container matColumnDef="suggested">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Suggested($) </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.CheckSuggestAmount}} <span  *ngIf="isInt(element.CheckSuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="actual">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center">  Actual($) </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="up_check-lable-{{element.DepositId}}">
                {{element.CheckDepositAmount}} <span  *ngIf="isInt(element.CheckDepositAmount)">.00 </span>
                </span>
                <span style="display:none;" id="up_check-input-{{element.DepositId}}">
                  <input class="close-bank-input number-field" id="up_check_{{element.DepositId}}" type="number" [value]="element.CheckDepositAmount">
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="center"  width="10%"> Status </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.StatusName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef width="13%" class="center"> Action </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="action-box-{{element.DepositId}}">
                <button mat-mini-fab (click)="editCHECKDeposit(element.DepositId)"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;
                </span>
                
                <span style="display:none;" id="save-box-{{element.DepositId}}">
                  <button title="Update" mat-mini-fab (click)="updateCheckDeposit(element.DepositId)"><i class="material-icons">check</i></button>&nbsp;&nbsp;&nbsp;
                  <button title="Cancel" mat-mini-fab color="warn" (click)="cancelCHECKDeposit(element.DepositId)"><i class="material-icons">clear</i></button>
                </span>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
          <div *ngIf = "!checkDepositSlipShow" class="no-data text-center"><span>There is no deposit Slip.</span></div>
          </div>
        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>