     <!-- Sidebar -->
<ul id="slide-out" class="side-nav fixed z-depth-2">
    <li class="center no-padding">
      <div class="purple darken-2 white-text p-20">
          <img src="assets/img/logo.png" class="responsive-img left-bar-logo" alt="Logo">
          <img src="assets/img/logo-sm.png" class="responsive-img logo-sm" alt="Logo">
      </div>
    </li>

    <li><a class="waves-effect" routerLink="/summary" routerLinkActive="active" ><i class="material-icons">assignment</i>Summary</a></li>

    <li><a class="waves-effect" routerLink="/bank-mangement" routerLinkActive="active" ><i class="material-icons">account_balance</i>Bank Management</a></li>

    <li><a class="waves-effect" routerLink="/deposit" routerLinkActive="active" ><i class="material-icons">account_balance_wallet</i>Deposits</a></li>

    <!--<li><a class="waves-effect" routerLink=""><i class="material-icons">insert_drive_file</i>GSR</a></li>-->

    <li><a class="waves-effect" routerLink="/document" routerLinkActive="active" ><i class="material-icons">attach_file</i>Documents</a></li>

    <!--<li><a class="waves-effect" routerLink=""><i class="material-icons">business</i>Corporate</a></li>-->

    <li><a class="waves-effect" routerLink="/setting" routerLinkActive="active" ><i class="material-icons">settings</i>General Settings</a></li>

    <li><a class="waves-effect" routerLink="/reports" routerLinkActive="active" ><i class="material-icons">insert_chart</i>Reports</a></li>
</ul>
      <!-- Sidebar -->
      
      
<div class="footer-sm center" id="copy_text">&copy; Copyright Oscr 2019.</div>
      
      
