.side-nav .material-icons {
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.logo-sm{ display: none; }
.side-nav.nav-sm .logo-sm{ display: block; }
.side-nav.nav-sm{ width: 80px; }
.side-nav.nav-sm .left-bar-logo{ display: none; }


.side-nav.fixed a { color: #8a8a8a;}
.box-full{ width: 100%; margin: 10px 0;  padding: 15px; text-align: center; }
.box-full h5{ font-family: 'Poppins', sans-serif; font-weight: 400;
    font-size: 17px; }

.box-full i.material-icons{ border-radius: 5px; }

.side-nav a {
    height: 58px;
    line-height: 58px;
}

header,
main,
footer {
  padding-left: 200px;
}

.side-nav .active{background: #e6e6e6;}
.footer-sm{    position: fixed;
    z-index: 9999;
    bottom: 0;
    left: 0;
    width: 200px;
    font-size: 14px;
    color: #988a8a;
    border-top: 1px solid #e6e6e6;
    padding: 15px;
    background: #fff;}

.sm-sidebar{
    width:50px;
}



@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
  .footer-sm{ display: none;}
}


@media only screen and (min-width: 993px) {
    .footer-sm{ display: block;}
}









#credits li,
#credits li a {
  color: white;
}

#credits li a {
  font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
  color: #fff;
}

.fab-tip {
  position: fixed;
  right: 85px;
  padding: 0px 0.5rem;
  text-align: right;
  background-color: #323232;
  border-radius: 2px;
  color: #FFF;
  width: auto;
}