.mat-form-field { display: block;}
.site-name{ color:#9c27b0;}
.add-register-row {background: #ececec; padding-top: 15px; padding-bottom: 10px; border-radius: 5px;}

@media only screen and (max-width: 600px) {
    .p-20{ padding: 0;}
}