<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        
        <div class="row">
          <div class="col l6 m8 s12 push-l3 push-m2">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../manage-register']">Manage Register</a></li>
              <li>Add Register</li>
            </ul>
        
            <div class="white z-depth-1 waves-grey box-full p-20-inner">
              <div class="row">
                <div class="col s12">
                  <h5 class="m-0 left">Add Register</h5><br>
                  <h6 class="m-0 left site-name">{{siteName}}</h6>
                </div>
              </div>
              <div class="row">                  
              <div class="col s12">
                <p *ngIf="errormessage && showErrorMsg" class="error-msg">{{errormessage}}</p>
                <p *ngIf="successmessage && !showErrorMsg" style="color:green;">{{successmessage}}</p>
                <form [formGroup]="addRegisterForm" (ngSubmit)="submitRegisterForm()">
                  
                <mat-form-field class="mat-form-field-full">
                <input matInput placeholder="No. of Register" required [value]="noOfRegister" formControlName="noOfRegister" (keyup)="onChangeRegisterNo($event)">
                <mat-error *ngIf = "this.addRegisterForm.controls.noOfRegister.status!=='VALID'">Please enter a valid integer.</mat-error>
                </mat-form-field>
                
                
                <!--Add Register Row-->
                <div formArrayName="regfields">
                  <div class="row add-register-row"  *ngFor="let register of RegisterFields.controls; let i=index" [formGroupName]="i">
                  <div class="col l5 m12 s12">
                      <mat-form-field class="mat-form-field-full">
                      <input matInput  formControlName="registerId" readonly>
                      </mat-form-field>
                  </div>
                  
                  <div class="col l5 m12 s12">
                    <mat-form-field class="mat-form-field-full">
                    <mat-label>Select POS</mat-label>
                    <mat-select formControlName="posId" required>
                      <mat-option *ngFor="let pos of posOptions" [value]="pos.posId">
                        {{pos.posName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                  
                  <div class="col l2 m12 s12">
                    <button mat-mini-fab color="warn" (click)="deleteRegister(i)"><i class="material-icons">close</i></button>
                  </div>
                  </div>
                  <!--Add Register Row-->
                  </div>
                  
                  <button mat-raised-button color="primary">Submit</button>

                
                </form>
                
                
                </div>
              </div>
                        
                        
                    
                
        
            
            </div>
        </div>
      </div>
        
        </div>
      
      </div>
  </div>
</main>
