<main id="main_id" class="">
<div class="row">
  <div class="col s12">
    <div class="p-20">
      
      <div class="row m-0">
      <div class="col s12">
        <h5 class="left mt-0 mb-20">Manage Employee
          <ul class="breadcrumb">
            <li><a [routerLink]="['../setting']">General Settings</a></li>
            <li>Manage Employee</li>
          </ul>
        </h5>
        <div class="right mb-20"><button mat-raised-button (click)="addEmployee()">+ Add</button></div>
      </div>
      </div>
      
      <!-- <div class="row">
      <div class="col s12">
        <ul class="breadcrumb">
        <li><a [routerLink]="['../setting']">General Settings</a></li>
        <li>Manage Employee</li>
      </ul>
      </div>
      </div> -->
      
      <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10">
          <div class="table-style">
          
          <mat-progress-bar *ngIf = "progressShow"
          class = "tp-margin"
          [mode] = "mode"
          [value] = "value"
          [bufferValue] = "bufferValue"
          >
         </mat-progress-bar>
          
          <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="image">
            <th width="7%" mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element" class="center">
              <div class="employee-img">
                <img src="{{element.image}}" width="40" class="responsive-img circle" alt="profile">
              </div>
            </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="employeeId">
            <th width="10%" mat-header-cell *matHeaderCellDef> EmpId </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeId}} </td>
          </ng-container>
          <!-- Name Column -->
          
          <ng-container matColumnDef="name">
            <th width="40%" mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <!-- Symbol Column -->
          <ng-container matColumnDef="username">
            <th width="15%" mat-header-cell *matHeaderCellDef> User Name </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          
          <ng-container matColumnDef="role">
            <th width="12%" mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}}  </td>
          </ng-container>
          
          <ng-container matColumnDef="action">
            <th class="text-center" width="16%" mat-header-cell *matHeaderCellDef> Action </th>
            <td class="text-center" mat-cell *matCellDef="let element">
              <button mat-mini-fab (click)="editEmployee(element.userid)"><i class="material-icons">edit</i></button>
              <button mat-mini-fab color="warn" (click)="deleteEmployee(element.userid)"><i class="material-icons">delete</i></button>
              
                    <!--<button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
            <mat-icon>edit</mat-icon>
          </button>&nbsp;&nbsp;&nbsp;
              
              <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
            <mat-icon>delete</mat-icon>
          </button>-->
              
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
          
        </table>
        </div>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        </div>
      </div>
      
      
      
      
      
      
      <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 box-full">
              
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</main>
