.mat-form-field-full {
    width: 100% !important;
}
.employee-img{
    width:40px;
    height:40px;
    border-radius:40px;
}
.employee-img img{
    width: 100%;
    height: 100%;
    object-fit: cover
}




