footer {
    background: #fff;
    padding: 10px;
    width: calc(100% - 240px);
    text-align: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #e7e7e7;
    font-family: 'Poppins', sans-serif;
    padding:0;
    z-index:9;
}

footer .copyright {
    padding: 15px 0;
    font-size: 14px;
}

footer ul{ margin: 0; padding: 0; }

footer ul li {
    display: inline-block;
    list-style: none;
  }

  footer ul li a {
    color: #575757;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    display: block;
    text-transform: uppercase;
}

footer ul li a:hover, footer ul li a:focus {
    color: #d157aa;}

.copyright{ margin: 0;}



@media (max-width: 992px ) {
    footer{ width: 100%;}  
  }
  
@media (min-width: 993px ) {
    .page-footer{ display:none;}
    }  
