<footer>
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
        </ul>
      </nav>
      <p class="copyright float-right"> © 2019 TechExactly</p>
    </div>
  </footer>