/*Breadcrumb*/
ul.breadcrumb {
  list-style: none;
  margin:0; padding:0;
}
ul.breadcrumb li {
  display: inline;
  font-size: 13px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #854d9c;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb:last-child {
    color: #8a8a8a;
}

