<main id="main_id" class="">
<div class="row">
  <div class="col s12">
    <div class="p-20">
      
      <div class="row mb-0">
      <div class="col s12">
        <h5 class="m-0 left">Payment Form List</h5>
        <div class="right"><button mat-raised-button [routerLink]="['../payment-form']">+ Add</button></div>
      </div>
      </div>
      
      <div class="row">
      <div class="col s12">
        <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pictures</a></li>
        <li><a href="#">Summer 15</a></li>
        <li>Italy</li>
      </ul>
      </div>
      </div>
      
      <div class="row">
        <div class="col s12 table-style">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Form ID </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Form Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          
        </div>
      </div>
      
      
      
      
      
      
      <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 box-full">
              
            
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
</main>

