.mat-form-field {display: block;}
div.file {
  position: relative;
    overflow: hidden;
    border-bottom: 1px solid #949494;
    height: 44px;
    line-height: 44px;
    text-align: left;
    color: #757575;
}
div.file input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

div.file .material-icons{
    position: relative;
    top: 7px;
    background: #dedede;
    border-radius: 40px;
    padding: 4px;
    margin-right: 10px;
    }

.width-full{ width:100%;}

.error-msg{
    background: #f7695f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block; box-shadow:0 0 20px #c1c1c1
    }
    
.box-full .error-msg{ display:block;}

