<main id="main_id" class="">                      
  <div class="row">
    <div class="col s12">
      <div class="p-20">
          <div class="row">
            <div class="col l6 s12 push-l3">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../manage-employee']">Manage Employee</a></li>
              <li *ngIf="empState">Add Employee</li>
              <li *ngIf="!empState">Edit Employee</li>
            </ul>
              <div class="white z-depth-1 waves-grey box-full p-20">
                <div class="row">
                  <div class="col s12">
                    <h5 class="m-0 left" *ngIf="empState">Add Employee</h5>
                    <h5 class="m-0 left" *ngIf="!empState">Edit Employee</h5>
                  </div>
                </div>
                
                <div class="row">                  
                  <div class="col s12">
                    <p *ngIf="errormessage && showErrorMsg" class="error-msg">{{errormessage}}</p>
                    <p *ngIf="successmessage && !showErrorMsg" style="color:green;">{{successmessage}}</p>
                    
                      <form [formGroup]="addEmployeeForm" (ngSubmit)="employeeFormSubmit()">
                        <mat-form-field>
                          <input matInput placeholder="Name" formControlName="employeeName" pattern="[A-Za-z]+">
                          <mat-error *ngIf="showErrorMsg && !this.addEmployeeForm.get('employeeName').valid">Plese enter valid name</mat-error>
                        </mat-form-field>
                         
                         
                        <mat-form-field>
                          <input [readonly]="readonly" matInput placeholder="User name" formControlName="employeeUserName">
                          <mat-error *ngIf="showErrorMsg && !this.addEmployeeForm.get('employeeUserName').valid">Plese enter username</mat-error>
                        </mat-form-field>
                      
                        <mat-form-field>
                        <input  matInput placeholder="Employee Id(optional)" formControlName="employeeId">
                        </mat-form-field>
                   
                        <mat-form-field>
                          <mat-label>Role</mat-label>
                          <mat-select formControlName="employeeRole">
                            <mat-option *ngFor="let role of roles" [value]="role.value">
                              {{role.viewValue}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="showErrorMsg && !this.addEmployeeForm.get('employeeRole').valid">Plese enter role</mat-error>
                        </mat-form-field>
                        <div class="width-full mb-20"><img *ngIf="!empState" src="{{employeeImage}}" width="100"/></div>
                        
                         <div class="file width-full mb-20">
                            <i class="material-icons">file_upload</i> {{imageFileName}}
                            <input type="file" id="file" (change)="handleFileInput($event.target.files)"/>
                        </div>
                        <button type="submit" mat-raised-button color="primary">Submit</button>
                      </form>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
