<div mat-dialog-content class="bank-edit-popup bank-edit-sm">
    <mat-progress-bar *ngIf = "progressShow"
        class = "tp-margin"
        [mode] = "mode"
        [value] = "value"
        [bufferValue] = "bufferValue"
    >
    </mat-progress-bar>
    
    <h6 class="center pop-title"><strong>Edit Bank</strong>
        <a (click)="onNoClick()" class="bank-edit-popup-close">
            <mat-icon>close</mat-icon>
        </a>
    </h6>
    
    <p *ngIf="errormessage && showErrorMsg" class="error-msg error-msg-newpickup">{{errormessage}}</p>
    <p *ngIf="successmessage && !showErrorMsg" class="success-msg-newpickup">{{successmessage}}</p>
    
    <form class="p-20" [formGroup]="editBankForm" (ngSubmit)="editBankFormSubmit()">        
            <div class="row mb-20">
            <div class="col l5 m5 s12">Date:</div>
            <div class="col l1 hide-sm">:</div>
            <div class="col l6 m6 s12">
                <!--<i class="material-icons">date_range</i>--> <strong>{{data.bankIssueDate}}</strong>
            </div>
            </div>
            
            
            <div class="row">
                <div class="col l5 m5 s12">Branch:</div>
                <div class="col l1 hide-sm">:</div>
                <div class="col l6 m6 s12">
                    <mat-form-field class="cchandheld-align">
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col l5 m5 s12">Site:</div>
                <div class="col l1 hide-sm">:</div>
                <div class="col l6 m6 s12">
                    <!--<i class="material-icons">date_range</i>--> <!--<strong>{{data.siteName}}</strong>-->
                    <mat-form-field class="cchandheld-align">
                        <mat-select  formControlName="siteID" [(value)]="siteID" (selectionChange)="editOnChangeSite($event.value)">
                            <mat-option [value]="">Select Site</mat-option>
                            <mat-option *ngFor="let site of editBankSiteList; let i = index" [value]="site.SiteId">
                            {{site.SiteName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
            <div class="col l5 m5 s12">Register #</div>
            <div class="col l1 hide-sm">:</div>
            <div class="col l6 m6 s12">
                <!--<i class="material-icons">date_range</i>--> <!--<strong>{{data.registerNumber}}</strong>-->
                
                <mat-form-field class="cchandheld-align">
                    <mat-select  formControlName="registerId" [(value)]="registerId">
                        <mat-option [value]="">Select Register</mat-option>
                        <mat-option *ngFor="let register of editBankRegisterList; let i = index" [value]="register.RegisterId">
                        {{register.RegisterNumber}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>
            </div>
            
            <div class="row mb-20">
            <div class="col l5 m5 s12">Employee</div>
            <div class="col l1 hide-sm">:</div>
            <div class="col l6 m6 s12">
                <!--<i class="material-icons">date_range</i>--> <strong>{{data.employeeName}}</strong>
            </div>
            </div>
            
      <!--      <div class="row m-0">
            <div class="col l5">Cashier</div>
            <div class="col l1">:</div>
            <div class="col l6">
                <mat-form-field class="cchandheld-align">
                <mat-select multiple>
                    <mat-option *ngFor="let emp of employees" [value]="emp.FK_Employee_ID">
                      {{emp.name}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
            </div>
            </div>-->
            
            <div class="row m-0">
            <div class="col l5 m5 s12">Cashier</div>
            <div class="col l1 hide-sm">:</div>
            <div class="col l6 m6 s12">
                <mat-form-field class="cchandheld-align">
                    <mat-select  multiple formControlName="cashierID" [(ngModel)]="editBankCashierList" [compareWith]="comparer2" >
                        <mat-option *ngFor="let employee of employees; let i = index" [value]="employee" [disabled]="checkEditBankCashierDisabled(employee.UserId)">
                        {{employee.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </div>
            
            <div class="row m-0">
            <div class="col l5 m5 s12">CCHandheld</div>
            <div class="col l1 hide-sm">:</div>
            <div class="col l6 m6 s12">
                <mat-form-field class="cchandheld-align">
                    <mat-select  multiple formControlName="cardHandHeldTID" [(ngModel)]="bankCardHandHeldList" [compareWith]="comparer">
                        <mat-option *ngFor="let card of cardHandHeldList; let i = index" [value]="card" [disabled]="checkDisabled(card.CardHandheldTidNumber)">
                        {{card.CardHandheldTidNumber}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </div>
            
            <div class="row m-0 center">
            <button [disabled]="submitDisabled" type="submit"  mat-raised-button color="primary">Submit</button>
            </div>
    </form>
</div>