<button class="fab-style" mat-fab color="primary" [routerLink]="['../issue-bank-bulk']" matTooltip="Issue Bank"  matTooltipPosition="left">
  <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
</button>

<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        
        <div class="row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Bank Management</h5>
              
             

              <div class="right form-inline">
                <!--Start Toolbar-->
                <ul class="filter-li-style">
                <mat-toolbar>
                   <li>
                    <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                   </li>
                    <li>
                     <!-- <label>Select Date:</label>-->
                      <mat-form-field class="">
                      <input matInput [matDatepicker]="select_date" placeholder="Select Date" (keypress)="onKeydown($event)" [max]="todaydate"   [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                      <mat-datepicker #select_date></mat-datepicker>
                      </mat-form-field>
                    </li>                    
                   <!-- <li>
                      <button mat-raised-button color="primary" [routerLink]="['../issue-bank-bulk']">Issue Bank</button>
                    </li>-->
                    
                    <li>
                      <label>Register:</label>
                      <mat-radio-group aria-label="Select an option" [(ngModel)]="bankStatus" (change)="onChangeRegister()">
                      <mat-radio-button [value]="5">Open</mat-radio-button>
                      <mat-radio-button [value]="6">Closed</mat-radio-button>
                      </mat-radio-group>
                    </li>                  
                </mat-toolbar>
              </ul>
               <!--End Toolbar-->
              </div>
              
          </div>
        </div>
        
        <div class="row">
          <div class="col s12">
            <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
                >
            </mat-progress-bar>
            <div class="white z-depth-1 p-10 min-height-360">
              <div class="no-bank-found" *ngIf="noBankFound">{{bankStatusMessage}} {{currentDate}}</div>
            <!--Start Issue Bank List-->
            <!--<app-issue-bank-list *ngIf="!noBankFound"></app-issue-bank-list>-->
        
              <!--Bank list table start-->
              <div class="table-style" *ngIf="!noBankFound">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
              
                <ng-container matColumnDef="site">
                  <th mat-header-cell *matHeaderCellDef> Site </th>
                  <td mat-cell *matCellDef="let element"> {{element.siteName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="register">
                  <th mat-header-cell *matHeaderCellDef> Register </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.register}} </td>
                </ng-container>
                
                <ng-container matColumnDef="employee">
                  <th mat-header-cell *matHeaderCellDef> Employee </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="tooltip">
                      {{element.employee}}
                     <span class="tooltiptext"><img src="{{element.EmployeeImage}}" /></span>
                    </div>
                  </td>
                </ng-container>
                
                <ng-container matColumnDef="cashier">
                  <th mat-header-cell *matHeaderCellDef> Cashier </th>
                  <td mat-cell *matCellDef="let element">
                    <div class="tooltip">
                        {{element.CashierName}}
                       <!--<span class="tooltiptext"><img src="{{element.EmployeeImage}}" /></span>-->
                    </div>
                  </td>
                </ng-container>
                
                <ng-container matColumnDef="lastPickup">
                  <th mat-header-cell *matHeaderCellDef> Last Pickup </th>
                  <td mat-cell *matCellDef="let element"> {{element.lastPickup}} </td>
                </ng-container>
                
                <ng-container matColumnDef="pickups">
                  <th mat-header-cell *matHeaderCellDef> Pickups </th>
                  <td mat-cell *matCellDef="let element" class="center"> {{element.pickups}} </td>
                </ng-container>
                
                <ng-container matColumnDef="pickupTotal">
                  <th mat-header-cell *matHeaderCellDef> Pickup Total </th>
                  <td mat-cell *matCellDef="let element" class="text-right"> {{element.pickupTotal}} </td>
                </ng-container>
                
                <ng-container matColumnDef="editBank">
                  <th mat-header-cell *matHeaderCellDef> Edit </th>
                  <td mat-cell *matCellDef="let element" class="center"><a class="btn-edit" (click)="openBankEditDialog(element.date,element.bankId,element.siteName,element.SiteId,element.register,element.registerId,element.employee)"><i class="material-icons">create</i></a></td>
                </ng-container>
                
                <ng-container matColumnDef="newPickup">
                  <th mat-header-cell *matHeaderCellDef> New Pickup </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    
                    <a class="btn-add" (click)="openNewPickupDialog(element.bankId,element.siteName,element.SiteId,element.register,element.registerId,element.pickups)">
                      <i class="material-icons">add</i>
                    </a>
                    
                  <!--<i class="small material-icons sm-icon">add</i>-->
              </td>
                </ng-container>
                
                <ng-container matColumnDef="summary">
                  <th mat-header-cell *matHeaderCellDef> Summary </th>
                  <td mat-cell *matCellDef="let element" class="center"> <!--<button mat-raised-button>View</button>--> <i class="small material-icons sm-icon" (click)="goToBankSummary(element.bankId,element.date);">visibility</i></td>
                </ng-container>
                
                <ng-container matColumnDef="close">
                  <th mat-header-cell *matHeaderCellDef> Close </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <!--<button mat-raised-button class="btn-grey">Close</button>-->
                    <a class="btn-close" (click)="openBankCloseDialog(element.date,element.bankId,element.siteName,element.SiteId,element.register,element.registerId,element.employee)"><i class="material-icons">close</i></a>
                  </td>
                </ng-container>
                
                <!--<ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef> Delete </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <i class="small material-icons sm-icon-delete">delete</i>
                  </td>
                </ng-container>-->
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!--Bank list table end-->
              </div>
              
              <div [hidden]="noBankFound">
               <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            <!--End Issue Bank List-->
            </div>
            
            <button class="mt-20 btn btn-primary btn-bank" (click)="openSpecialBank()"><i class="material-icons left">account_balance</i> Special Bank</button>
          </div>
        </div>
        
      </div>
    
    </div>
     
  </div>
</main>
