<div mat-dialog-content class="bank-edit-popup">
    <mat-progress-bar *ngIf = "progressShow"
        class = "tp-margin manage-site-progressbar"
        [mode] = "mode"
        [value] = "value"
        [bufferValue] = "bufferValue"
        >
    </mat-progress-bar>
    <h6 class="center pop-title"><strong>Bank Close @ {{data.siteName}}</strong>
        <a (click)="onNoClick()" class="bank-edit-popup-close">
            <mat-icon>close</mat-icon>
        </a>
    </h6>
    
    <p *ngIf="errormessage && showErrorMsg" class="error-msg error-msg-newpickup">{{errormessage}}</p>
    <p *ngIf="successmessage && !showErrorMsg" class="closebank-successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
    
    <div class="close-bank-main-table">

            <div class="top-align">

                <!---************************** Start Register Summary Form**************************-->
               <form [formGroup]="registerSummaryForm" (ngSubmit)="registerSummaryFormSubmit()">
                <input class="close-bank-input number-field" type="hidden" [value]="BankCloseCashId" formControlName="BankCloseCashId">
                    <table class="close-bank-table">
                        <tr>
                            <td colspan="2" align="left" valign="top" class="table-head-light">
                                <div class="left">Register Summary</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" width="60%">Register Starting GT</td>
                            <td align="left" valign="top" width="40%" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerStartingGTError}" type="number" [value]="registerStartingGT"  formControlName="registerStartingGT" (change)="registerSummaryChange()" (keyup)="isAmountChange()">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Register Ending GT</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerEndingGTError}" type="number" [value]="registerEndingGT" formControlName="registerEndingGT" (change)="registerSummaryChange()" (keyup)="isAmountChange()">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Register Z Number</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerZNumberError}" type="text" [value]="registerZNumber" formControlName="registerZNumber">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Register Tranx</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerTranxError}" type="number" [value]="registerTranx" formControlName="registerTranx">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Register No Sales</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerNoSalesError}" type="number" [value]="registerNoSales" formControlName="registerNoSales">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">Register Reading</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" [ngClass]="{'error-input': registerReadingError}" type="number" [value]="registerReading" formControlName="registerReading" (change)="registerSummaryChange()" (keyup)="isAmountChange()">
                            </td>
                        </tr>
                    </table>
                </form>
                <!--- ****************************Register Summary Form End ************************************-->
           
                <!--- *****************************Start Sales Summary Form ************************************-->
                <form [formGroup]="salesSummaryForm" (ngSubmit)="salesSummaryFormSubmit()"> 
                    <table class="close-bank-table mt-10">
                        <tr>
                            <td colspan="2" align="left" valign="top" class="table-head-light">
                                <div class="left">Sales Summary</div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" width="60%">Total Pickup</td>
                            <td align="left" valign="top" width="40%" class="text-center">
                                <input class="close-bank-input number-field" readonly="readonly" type="text" [value]="totalPickup" formControlName="totalPickup">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Total Drawer</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" type="text" readonly="readonly" [value]="totalDrawer" formControlName="totalDrawer">
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">Adjustments</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" type="number" [value]="adjustments" formControlName="adjustments" (change)="salesSummaryFormSubmit()" (keyup)="isAmountChange()">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top" colspan="2">Adjustment Comments
                            <textarea class="close-bank-input width-100" formControlName="adjustmentComments" rows="2" [ngClass]="{'error-input': adjustmentCommentError}" (change)="salesSummaryFormSubmit()">{{adjustmentComments}}</textarea>
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">CC Adjustments</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" type="number" [value]="ccAdjustments" formControlName="ccAdjustments" (change)="salesSummaryFormSubmit()" (keyup)="isAmountChange()">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top" colspan="2">
                                CC Adjustment Comments
                                <textarea class="close-bank-input width-100" formControlName="ccAdjustmentComments" rows="2" [ngClass]="{'error-input': ccAdjustmentCommentError}" (change)="salesSummaryFormSubmit()">{{ccAdjustmentComments}}</textarea>
                                
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Over / Short</td>
                            <td align="left" valign="top" class="text-center">
                                <input class="close-bank-input number-field" readonly="readonly" type="text" [value]="overShort" formControlName="overShort" (change)="salesSummaryFormSubmit()">
                            </td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top" colspan="2">Over / Short Comments
                                <textarea class="close-bank-input width-100" formControlName="overShortComments" rows="2" [ngClass]="{'error-input': overShortCommentError}" (change)="salesSummaryFormSubmit()">{{overShortComments}}</textarea>
                            </td>
                        </tr>
                    </table>
                    <table class="mt-10">
                        <tr>
                            <td>
                                <mat-form-field>
                                   <mat-label>Cashier</mat-label>
                                    <mat-select multiple formControlName="cashier" [(ngModel)]="cashierList" [compareWith]="comparer">
                                      <mat-option *ngFor="let emp of employees; let i = index" [value]="emp" [disabled]="checkDisabledCashier(emp.FK_Employee_ID)">
                                        {{emp.name}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                </form>
               <!--- ****************************Sales Summary Form End ************************************-->
            </div>
            <!--   ************************   Start Currency Denominations Table   ***********************   -->
            <div class="top-align">
                <form [formGroup]="denominationsForm" (ngSubmit)="denominationsFormSubmit()">
                    <table class="close-bank-table">
                        <tr class="table-head-light">
                            <td align="left" valign="top" width="40%">Currency</td>
                            <td align="left" valign="top" class="center" width="30%">Count</td>
                            <td align="left" valign="top" class="text-right" width="30%">Amount</td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Hundreds</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': hundredsBillError}" [value]="hundredsCount" formControlName="hundredsCount" (keyup)="hundredsChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': hundredsError}" [value]="hundreds" formControlName="hundreds" (keyup)="hundredsChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Fifties</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': fiftiesBillError}" [value]="fiftiesCount" formControlName="fiftiesCount" (keyup)="fiftiesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': fiftiesError}" [value]="fifties" formControlName="fifties" (keyup)="fiftiesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Twenties</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': twentiesBillError}" [value]="twentiesCount" formControlName="twentiesCount" (keyup)="twentiesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': twentiesError}" [value]="twenties" formControlName="twenties" (keyup)="twentiesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Tens</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': tensBillError}" [value]="tensCount" formControlName="tensCount" (keyup)="tensChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': tensError}" [value]="tens" formControlName="tens" (keyup)="tensChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Fives</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': fivesBillError}" [value]="fivesCount" formControlName="fivesCount" (keyup)="fivesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': fivesError}" [value]="fives" formControlName="fives" (keyup)="fivesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Twos</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': twosBillError}" [value]="twosCount" formControlName="twosCount" (keyup)="twosChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': twosError}" [value]="twos" formControlName="twos" (keyup)="twosChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Ones</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': onesBillError}" [value]="onesCount" formControlName="onesCount" (keyup)="onesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': onesError}" [value]="ones" formControlName="ones" (keyup)="onesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Quarters</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': quartersBillError}" [value]="quartersCount" formControlName="quartersCount" (keyup)="quartersChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': quartersError}" [value]="quarters" formControlName="quarters" (keyup)="quartersChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Dimes</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': dimesBillError}" [value]="dimesCount" formControlName="dimesCount" (keyup)="dimesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': dimesError}" [value]="dimes" formControlName="dimes" (keyup)="dimesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Nickles</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': nicklesBillError}" [value]="nicklesCount" formControlName="nicklesCount" (keyup)="nicklesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': nicklesError}" [value]="nickles" formControlName="nickles" (keyup)="nicklesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Pennies</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': penniesBillError}" [value]="penniesCount" formControlName="penniesCount" (keyup)="penniesChangeCount($event.target.value)" (change)="isAmountChange()"></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [ngClass]="{'error-input': penniesError}" [value]="pennies" formControlName="pennies" (keyup)="penniesChangeAmount($event.target.value)" (change)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Change</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="hidden"  value=""></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number"  [value]="change" formControlName="change" (change)="denominationsFormSubmit()" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr *ngFor="let fld of paymentFormfields">
                            <td align="left" valign="top">{{fld.label}}</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" readonly="readonly" type="hidden"  value=""></td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [formControlName]="fld.name"  [value]="fld.value" (change)="denominationsFormSubmit()" (keyup)="isAmountChange()"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left" valign="top"><strong>Total</strong></td>
                            <td align="center" valign="top" class="text-right"><strong>{{denominationsTotalAmount}}</strong></td>
                        </tr>
                    </table>
                    
                </form>
                
                    <table class="close-bank-table mt-10">
                        <tr>
                            <td class="table-head-light" colspan="2">Pickup Details</td>
                        </tr>
                        <tr>
                            <td width="50%"><strong>Pickup No.</strong></td>
                            <td width="50%" class="text-right"><strong>Amount</strong></td>
                        </tr>
                        <tr *ngFor="let pickup of pickupList">
                            <td>{{pickup.PickupNumber}}</td>
                            <td class="text-right">{{pickup.PickupTotal}}</td>
                        </tr>
                    </table>
                
                
            </div>
            <!--   ************************   End Currency Denominations Table   ***********************   -->
            
            <!---Sales Details-->
            <div class="top-align">
                <!--       ------------------------------Start POS Form---------------------------         -->
                <form [formGroup]="posForm" (ngSubmit)="posFormSubmit()">
                    <table class="close-bank-table">
                        <tr>
                            <td colspan="2" align="left" valign="top" class="table-head-light">
                                <div class="left"><!-- POS- -->{{posName}}</div>
                                <div class="right"><input class="close-bank-input number-field-lg" [ngClass]="{'error-input': posBatchoutNumberError}" type="text"  [value]="BatchoutNumber" formControlName="BatchoutNumber" placeholder="Batch#" (change)="posFormSubmit()"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" width="60%">Network</td>
                            <td align="left" valign="top" class="text-right" width="40%">Amount</td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Visa</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="posFormSubmit()" [value]="VisaAmount" formControlName="VisaAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Master Card</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="posFormSubmit()"  [value]="MasterCardAmount" formControlName="MasterCardAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Discover</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="posFormSubmit()" [value]="DiscoverAmount" formControlName="DiscoverAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">American Express</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="posFormSubmit()" [value]="AmexAmount" formControlName="AmexAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Debit</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="posFormSubmit()" [value]="DebitAmount" formControlName="DebitAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top"><strong>Total</strong></td>
                            <td align="center" valign="top" class="text-right"><strong>{{totalPOS}}</strong></td>
                        </tr>
                    </table>
                </form>
            <!--       ------------------------------End POS Form---------------------------         -->
                
             <!--       ------------------------------Start CardHandheld---------------------------         -->
             <form [formGroup]="cardHandheldform" (ngSubmit)="cardHandheldFormSubmit()">
                <div formArrayName="cardHandheldFieldsitems">
                    <table class="close-bank-table mt-10" *ngFor="let item of CardHandheldFields.controls; let i = index" [formGroupName]="i">
                        <tr>
                            <td colspan="2" align="left" valign="top" class="table-head-light">
                                <div class="left">Handheld-{{item['controls']['CardHandheldTidNumber']['value']}}</div>
                                <div class="right">
                                    <input class="close-bank-input number-field-lg" type="text" placeholder="Batch#" id="batch-out{{i}}"  value="" formControlName="BatchoutNumber" (change)="cardHandheldFormSubmit()">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="top">Network</td>
                            <td align="left" valign="top" class="text-right">Amount</td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Visa</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="cardHandheldFormSubmit()" value="" formControlName="VisaAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Master Card</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="cardHandheldFormSubmit()"  value="" formControlName="MasterCardAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Discover</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="cardHandheldFormSubmit()" value="" formControlName="DiscoverAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">American Express</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="cardHandheldFormSubmit()" value="" formControlName="AmexAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top">Debit</td>
                            <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" (change)="cardHandheldFormSubmit()" value="" formControlName="DebitAmount" (keyup)="isAmountChange()"></td>
                        </tr>
                        
                        <tr>
                            <td align="left" valign="top"><strong>Total</strong></td>
                            <td align="right" valign="top" class="text-right"><strong id="card-total{{i}}">{{item['controls']['TotalCardHandheldAmount']['value']}}</strong></td>
                        </tr>
                    </table>
                </div>
             </form>
            <!--       ------------------------------End CardHandheld---------------------------         -->
            
            <!-- Other Charges -->
            <table celspacing="0" cellpadding="0" class="mt-10">
                <tr>
                    <td align="left" valign="top" class="pad-0">
                        <mat-accordion class="othercharges-tab">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>Other Charges</mat-panel-title>
                                </mat-expansion-panel-header>
                                <form [formGroup]="otherChargesForm" (ngSubmit)="otherChargesFormSubmit()">
                                    <table class="close-bank-table" celspacing="0" cellpadding="0">
                                        <tr *ngFor="let fld of otherChargeFormfields">
                                            <td align="left" valign="top" width="60%">{{fld.label}}</td>
                                            <td align="left" valign="top" class="center" width="40%"><input class="close-bank-input number-field" type="number" [formControlName]="fld.name"  [value]="fld.value" (change)="otherChargesFormSubmit()" (keyup)="isAmountChange()"></td>
                                        </tr>
                                        <tr>
                                            <td align="left" valign="top"><strong>Total</strong></td>
                                            <td align="left" valign="top" class="text-right"><strong>{{otherChargesTotal}}</strong></td>
                                        </tr>
                                    </table>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </td>
                </tr>
            </table>
        <!-- Other Charges -->
            </div>
            <!---Sales Details-->
        </div>
    <table>
        <tr>
            <td class="center">
                <button type="button" style="width:220px;"  mat-raised-button color="primary" (click)="submitAllForms()">Submit</button>
            </td>
        </tr>
    </table>
    
</div>