<div mat-dialog-content class="bank-edit-popup new-pickup-popup">
    <mat-progress-bar *ngIf = "progressShow"
        class = "tp-margin"
        [mode] = "mode"
        [value] = "value"
        [bufferValue] = "bufferValue"
        >
    </mat-progress-bar> 
    <h6 class="center pop-title"><strong>New Pickup @ {{data.siteName}}</strong>
        <a (click)="onNoClick()" class="bank-edit-popup-close">
            <mat-icon>close</mat-icon>
        </a>
    </h6>
    
    <p *ngIf="errormessage && showErrorMsg" class="error-msg error-msg-newpickup">{{errormessage}}</p>
    <p *ngIf="successmessage && !showErrorMsg" class="success-msg-newpickup">{{successmessage}}</p>
    
    <form [formGroup]="denominationsForm" (ngSubmit)="pickupFormSubmit()">
        <div class="close-bank-main-table">

                <div class="top-align new-pickup-table1">
                    <table class="custom-table1">
                        <tr>
                            <td>Branch</td>
                            <td><strong>:&nbsp;&nbsp;{{data.branchName}}</strong></td>
                        </tr>
                        <tr>
                            <td>Site</td>
                            <td><strong>:&nbsp;&nbsp;{{data.siteName}}</strong></td>
                        </tr>
                        <tr>
                            <td>Register</td>
                            <td><strong>:&nbsp;&nbsp;{{data.registerNumber}}</strong></td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td><strong>:&nbsp;&nbsp;{{data.date}}</strong></td>
                        </tr>
                        <tr>
                            <td>Pickup Date</td>
                            <td><strong>:&nbsp;&nbsp;{{data.pickupDate}}</strong></td>
                        </tr>
                        <tr>
                            <td>Pickup Time</td>
                            <td><strong>:&nbsp;&nbsp;{{data.time}}</strong></td>
                        </tr>
                        <tr>
                            <td>Pickup</td>
                            <td><strong>:&nbsp;&nbsp;{{data.pickupCount+1}}</strong></td>
                        </tr>
                    </table>
                    
                    <table>
                        <tr>
                            <td class="pb-0 text-right">Total : <strong>{{total}}</strong></td>
                        </tr>
                        <!-------------------Start Pickup Employee Table---------------------------------->
                        <tr>
                        <td class="pt-0">
                                <mat-form-field>
                                <mat-label>Pickup Employee</mat-label>
                                    <mat-select formControlName="pickUpEmployee">
                                      <mat-option *ngFor="let emp of employees" [value]="emp.FK_Employee_ID">
                                        {{emp.name}}
                                      </mat-option>
                                    </mat-select>
                                </mat-form-field>
                        </td>
                        </tr>
                        <!---------------------End Pickup Employee Table---------------------------------->
                    </table> 
                    
                </div>
              <!------------------------Start Currency Denominations Table---------------------------->
                <div class="top-align new-pickup-table2">
                    
                        <table class="close-bank-table">
                            <tr class="table-head-light">
                                <td align="left" valign="top" width="40%">Currency</td>
                                <td align="left" valign="top" class="text-center" width="30%">Count</td>
                                <td align="left" valign="top" class="text-center" width="30%">Amount($)</td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Hundreds</td>
                                <td align="center" valign="top" class="text-center">
                                    <input class="close-bank-input number-field" [ngClass]="{'error-input': hundredsBillError}" type="number"  [value]="hundredsCount" formControlName="hundredsCount" (keyup)="hundredsChangeCount($event.target.value)">
                                    <!--<mat-error *ngIf="hundredsBillError">
                                        Enter valid count.
                                    </mat-error>-->
                                </td>
                                <td align="center" valign="top" class="text-center">
                                    <input class="close-bank-input number-field" [ngClass]="{'error-input': hundredsError}" type="number"  [value]="hundreds" formControlName="hundreds" (keyup)="hundredsChangeAmount($event.target.value)">
                                </td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Fifties</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': fiftiesBillError}" type="number"  [value]="fiftiesCount" formControlName="fiftiesCount" (keyup)="fiftiesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': fiftiesError}" type="number"  [value]="fifties" formControlName="fifties" (keyup)="fiftiesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Twenties</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': twentiesBillError}" type="number"  [value]="twentiesCount" formControlName="twentiesCount" (keyup)="twentiesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': twentiesError}" type="number"  [value]="twenties" formControlName="twenties" (keyup)="twentiesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Tens</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': tensBillError}" type="number"  [value]="tensCount" formControlName="tensCount" (keyup)="tensChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': tensError}" type="number"  [value]="tens" formControlName="tens" (keyup)="tensChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Fives</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': fivesBillError}" type="number" [value]="fivesCount" formControlName="fivesCount" (keyup)="fivesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': fivesError}" type="number" [value]="fives" formControlName="fives" (keyup)="fivesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Twos</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': twosBillError}" type="number" [value]="twosCount" formControlName="twosCount" (keyup)="twosChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': twosError}" type="number" [value]="twos" formControlName="twos" (keyup)="twosChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Ones</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': onesBillError}" type="number" [value]="onesCount" formControlName="onesCount" (keyup)="onesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': onesError}" type="number" [value]="ones" formControlName="ones" (keyup)="onesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Quarters</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': quartersBillError}" type="number" [value]="quartersCount" formControlName="quartersCount" (keyup)="quartersChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': quartersError}" type="number" [value]="quarters" formControlName="quarters" (keyup)="quartersChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Dimes</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': dimesBillError}" type="number" [value]="dimesCount" formControlName="dimesCount" (keyup)="dimesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': dimesError}" type="number" [value]="dimes" formControlName="dimes" (keyup)="dimesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Nickles</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': nicklesBillError}" type="number" [value]="nicklesCount" formControlName="nicklesCount" (keyup)="nicklesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': nicklesError}" type="number" [value]="nickles" formControlName="nickles" (keyup)="nicklesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Pennies</td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': penniesBillError}" type="number" [value]="penniesCount" formControlName="penniesCount" (keyup)="penniesChangeCount($event.target.value)"></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" [ngClass]="{'error-input': penniesError}" type="number" [value]="pennies" formControlName="pennies" (keyup)="penniesChangeAmount($event.target.value)"></td>
                            </tr>
                            
                            <tr>
                                <td align="left" valign="top">Change</td>
                                <td align="center" valign="top" class="text-right"><input class="close-bank-input number-field" type="hidden"  value=""></td>
                                <td align="center" valign="top" class="text-center"><input class="close-bank-input number-field" type="number"  [value]="change" formControlName="change" (change)="denominationsFormSubmit()"></td>
                            </tr>                        
                            
                            <tr *ngFor="let fld of paymentFormfields">
                                <td align="left" valign="top">{{fld.label}}</td>
                                <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" readonly="readonly" type="hidden"  value=""></td>
                                <td align="left" valign="top" class="text-center"><input class="close-bank-input number-field" type="number" [formControlName]="fld.name"  value="" (change)="denominationsFormSubmit()"></td>
                            </tr>
                            
                            
                            <tr>
                                <td colspan="2" align="left" valign="top"><strong>Total($)</strong></td>
                                <td align="center" valign="top" class="text-right"><strong>{{denominationsTotalAmount}}</strong></td>
                            </tr>
                            
                            <tr>
                                <td colspan="3" class="text-center">
                                    <button type="submit"  mat-raised-button color="primary">Submit</button>
                                </td>
                            </tr>
                        </table>
                </div>
                <!------------------------End Currency Denominations Table---------------------------->

        </div>
    </form>
</div>