/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.font14{
    font-size: 14px !important;
}
.font12{
    font-size: 12px !important;
}
.text-upper{
    text-transform: uppercase !important;
}
.font-bold {
    font-weight: bolder !important;
}
.border-none{
    border:none !important
}
.oscrCard{
    background: #fff;
    padding: 5px 15px;    
    box-shadow: 0 0 1px 0px;
    color: #ccc;
}

.backColor448aff{
    background:#448aff !important
}

