.mat-form-field {
    display: block;}
    
.error-msg{
    background: #f7695f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block; box-shadow:0 0 20px #c1c1c1
    }
    
.box-full .error-msg{ display:block;}

@media only screen and (max-width: 600px) {
    .p-20{ padding: 0;}
}