<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row">
          <div class="col l6 m8 s12 push-l3 push-m2">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../manage-card-handheld']">Manage Card Handheld</a></li>
              <li>Add Card Handheld</li>
            </ul>
            <div class="white z-depth-1 waves-grey box-full p-20-inner">
              <div class="row">
                <div class="col s12">
                  <h5 class="m-0 left" *ngIf="cardState">Add Card Handheld</h5><br>
                  <h5 class="m-0 left" *ngIf="!cardState">Edit Card Handheld</h5>
                  <!--<h6 class="m-0 left site-name">Site name goes here</h6>-->
                </div>
              </div>
              <div class="row">                  
                <div class="col s12">
                  <p *ngIf="errormessage && showErrorMsg" class="error-msg">{{errormessage}}</p>
                    <p *ngIf="successmessage && !showErrorMsg" style="color:green;">{{successmessage}}</p>
                    
                  <form [formGroup]="addCardHandheldForm" (ngSubmit)="submitCardHandheldForm()">
                    <mat-form-field class="mat-form-field-full">
                    <input matInput placeholder="Sl No." formControlName="slno">
                    </mat-form-field>
                    
                    <mat-form-field class="mat-form-field-full">
                    <input matInput placeholder="TID" formControlName="tid">
                    </mat-form-field>
                    
                    <mat-form-field class="mat-form-field-full">
                      <mat-select placeholder="Device Type" class="" formControlName="cardDeviceType">
                          <mat-option color="primary" *ngFor="let device of cardDeviceType"  [value]="device.DeviceTypeId" >{{device.DeviceName}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="mat-form-field-full">
                      <textarea matInput placeholder="Notes" formControlName="note"></textarea>
                    </mat-form-field>
                    
                    <button mat-raised-button color="primary">Submit</button>
                  </form>
                </div>
              </div>       
            </div>
        </div>
      </div>
        </div>
      </div>
  </div>
</main>
