<mat-toolbar>
<h4>Select Date:</h4>
<mat-form-field>
  <input matInput [matDatepicker]="select_date" placeholder="Date">
  <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
  <mat-datepicker #select_date></mat-datepicker>
</mat-form-field>

<button mat-raised-button color="primary" [routerLink]="['../issue-bank-bulk']">Issue Bank</button>

<h4>Register:</h4>
<mat-radio-group aria-label="Select an option">
  <mat-radio-button value="1">Open</mat-radio-button>
  <mat-radio-button value="2">Closed</mat-radio-button>
</mat-radio-group>

</mat-toolbar>
