<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row filter-row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Deposit</h5>
              <div class="right">
              <div class="branch-name">
                <ul>
                  <li class="inline-flex">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="CMO Total($)" readonly id="cmoTotal" value="0">
                        </mat-form-field>
                  </li>
                  
                  <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Deposit Total($)" readonly id="depositTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li>
                  <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </li>
                  
                  <li>
                    <mat-form-field class="">
                    <input matInput [matDatepicker]="select_date" placeholder="Selected Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            <div class="cash-coin-nav">
              <ul>
                <li (click)="routeLink('../deposit')">Cash &amp; Coins</li>
                <li (click)="routeLink('../deposit/checks')">Checks</li>
                <li (click)="routeLink('../deposit/cc-handhelds')">CC Handhelds</li>
                <li (click)="routeLink('../deposit/pos')">POS</li>
                <li (click)="routeLink('../deposit/amex')">Amex</li>
                <li class="active" (click)="routeLink('../deposit/other-daily-deposits')">Other Daily Deposits</li>
              </ul>
            </div>
          <div class="clearfix"></div>
          <div class="mt-10 table-style">
            
          <p *ngIf="errormessage && showErrorMsg" class="deposit-errormsg">{{errormessage}}</p>
          <p *ngIf="successmessage && !showErrorMsg" class="deposit-successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
          
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
           >
          </mat-progress-bar>
          
          <div class="row other-deposit-form-container">
            <div class="col s12 m12 l6 offset-l3 box table-responsive" *ngIf="showDepositdForm">
              <form [formGroup]="otherDepositForm" (ngSubmit)="submitOtherDeposit()">
                <table cellspacing="0" cellpadding="0" border="1">
                      <tr>
                          <th width="30%">Patment Form</th>
                          <th width="35%">Suggested Amount($)</th>
                          <th width="35%">Actual Amount($)</th>
                       </tr>
                      <tr>
                          <td valign="left" align="top" colspan="3" height="10"></td>
                       </tr>
                      
                       <tr *ngFor="let fld of otherDepositFormfields">
                          <td valign="left" align="top"><label class="label-control">{{fld.label}}</label></td>
                          <td valign="left" align="top"><input type="text" class="form-control" readonly  [value]="fld.suggestedAmt"></td>
                          <td valign="left" align="top"><input type="text" class="form-control" [formControlName]="fld.name"  [value]="fld.depositAmt" (keyup)="checkChange()"></td>
                       </tr>
                       
                       <tr>
                          <td></td>
                          <td valign="center" align="top" colspan="2" class="center">
                            <button mat-raised-button color="primary" [disabled]="otherSubmitButtonEnaDis">Submit</button>
                          </td>
                       </tr>
                       <tr>
                        <td valign="left" align="top" colspan="3" height="10"></td>
                     </tr>
                </table>
              </form>
            </div>
            <div *ngIf = "!showDepositdForm" class="no-data text-center"><span>There is no deposit.</span></div>
          </div>
        </div>
          
        <div class="mt-20">
          <h6 class="left mb-10"><strong>Other Deposit List</strong></h6>          
          
        <!--   ----------------------CC Handheld Deposit List Table------------------       -->
          <table mat-table [dataSource]="otherDepositDataSource" *ngIf="showDepositData">
            
             <!-- Position Column -->
            <ng-container matColumnDef="form_name">
              <th mat-header-cell *matHeaderCellDef  width="30%"> Form Name </th>
              <td mat-cell *matCellDef="let element">
                <input id="deposit_id_{{element.DepositId}}" type="hidden" [value]="element.DepositId">
                {{element.PaymentFormName}}
              </td>
            </ng-container>
            
            <ng-container matColumnDef="suggested">
              <th mat-header-cell *matHeaderCellDef width="15%" class="center">Suggested($) </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.SuggestAmount}} <span  *ngIf="isInt(element.SuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="actual">
              <th mat-header-cell *matHeaderCellDef class="center"  width="15%"> Actual($) </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="deposit-lable-{{element.DepositId}}">
                {{element.DepositAmount}} <span  *ngIf="isInt(element.DepositAmount)">.00 </span>
                </span>
                <span style="display:none;" id="deposit-input-{{element.DepositId}}">
                  <input class="close-bank-input number-field" id="up_deposit_{{element.DepositId}}" type="number" [value]="element.DepositAmount">
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="center"  width="10%"> Status </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.StatusName}}</td>
            </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="center" width="20%"> Action </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="action-box-{{element.DepositId}}">
                <button mat-mini-fab (click)="editDeposit(element.DepositId)"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;
                <!--<button mat-mini-fab color="warn" (click)="amexDepositDelete(element.DepositId)"><i class="material-icons">delete</i></button>-->
                </span>
                
                <span style="display:none;" id="save-box-{{element.DepositId}}">
                  <button title="Update" mat-mini-fab (click)="updateDeposit(element.DepositId)"><i class="material-icons">check</i></button>&nbsp;&nbsp;&nbsp;
                  <button title="Cancel" mat-mini-fab color="warn" (click)="cancelDeposit(element.DepositId)"><i class="material-icons">clear</i></button>
                </span>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsOtherDeposit"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsOtherDeposit;"></tr>
          </table>
          <div *ngIf = "!showDepositData" class="no-data text-center"><span>There is no deposit Slip.</span></div>
          </div>

         
        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>