.center{ text-align:center !important;}
.purple-text{ color:#7b1fa2;}
.branch-name .inline-flex{
    color: #707070;
    display: inline-flex;
    margin-left: 30px;
}

.branch-name ul { margin:0;}
/*.branch-name ul li{margin:0.5rem 0 0.4rem 0;}*/



.inline-flex i.material-icons{
    font-size: 22px;
    left: -23px;
    position: absolute;
    
}

.text-right{ text-align:right;}

.branch-name ul li{
    margin: 5px 0 0 10px;
    position: relative;
    display: inline-block;
}

.fab-style {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
}
.top-3{ top:3px; border-bottom:1px solid #8e8e8e;}
.mt-10{ margin-top:10px;}


/******************************************/
/*.mat-dialog-form .mat-form-field {
    display: block;
    width: 100% !important;}*/
.filter-li-style{ margin:0; padding:0;}
.filter-li-style li{ display:inline-block; margin-left: 20px; color:#7c7c7c; font-size:15px;}
.filter-li-style li .mat-radio-button{ margin-left: 25px;}
.ml-0{margin-left: 0 !important;}
.ml-5{margin-left: 10px !important;}

.min-height-360{
min-height: 360px;
position:relative;
}

.min-height-360 .no-bank-found{
    position: absolute;
    left: 50%;
    font-size: 28px;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: #aecbff;
}

.fab-style{position:fixed; right:30px; bottom:30px; z-index:1;}

.btn-add{
    cursor: pointer;
    color: #ffffff;
    background: #66c576;
    opacity: 0.7;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    }
.btn-add:hover{ opacity:1;}

.btn-edit{
    cursor: pointer;
    color: #ffffff;
    background: #94baff;
    opacity: 0.7;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    }
.btn-edit:hover{ opacity:1;}

.btn-edit .material-icons{ font-size: 18px; }

.cchandheld-align {
    margin-top: -.84375em;
}

.btn-close{
    cursor: pointer;
    color: #ffffff;
    background: #e84646;
    opacity: 0.7;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    }
    
.btn-close:hover{ opacity:1;}


.filter-li-style {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*.custom-table tr.head-th {
    height: 40px !important;
    color: #fff;
    background: #9a9a9a !important;
    font-family: 'Poppins', sans-serif;
}

.custom-table th {
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 8px !important;
    border: 1px solid #d8d8d8;
}*/
.custom-table {
    border: 2px solid #d8d8d8;
}
.custom-table label{
    font-size: 15px !important;
    color: #1c1c1c;
}

    .custom-table tr:first-child td{background: #d8d8d8;}
/*.custom-table tr:nth-child(even) {background: #ddd}
.custom-table tr:nth-child(odd) {background: #FFF}*/

.custom-table .custom-input{ border:2px solid #dddddd;}

.custom-table td,.custom-table1 td {
    padding: 8px !important;
    border-radius:0px;
    /*border: 1px solid #d8d8d8;*/
    position:relative;
}

.custom-table1 {
    padding: 5px 8px !important;
    border-radius:0px;
    border: 1px solid #d8d8d8;
    font-size:13px;
}
.custom-table1 tr{ border-bottom: 1px solid #d8d8d8;}

.close-bank-table{
    /*margin:2px;*/
    background:#fff;
    color: #000;
    /*width:auto;*/
}

.close-bank-table td,.close-bank-table td {
    padding: 3px 4px !important;
    border-radius:0px;
    border: 1px solid #fff;
    position:relative;
}


.valign-top{
    vertical-align:top;
}
.align-tight{
    text-align:right;
}

.mt-20{ margin-top:20px;}
.mt-10{ margin-top:7px;}
.p-0{ padding:0;}

.custom-table .mat-radio-button { padding: 0 8px;}
.custom-input{ border:0; border-bottom:1px solid #ccc;}

.success-msg-config{
color: #85b385;
top: 10px;
right: 30px;
font-size: 13px;
font-weight: 500;
}
.error-msg-config{
color: #dc8585;
top: 10px;
right: 30px;
font-size: 13px;
font-weight: 500;
}

.error-msg-newpickup{
    color: #ffffff;
    top: 10px;
    right: 30px;
    font-size: 13px;
    background: #dc8585;
    font-weight: 500;
    padding: 8px;
    text-align: center;
    width: 83%;
    border-radius: 4px;
    box-shadow: 0 0 5px #dc8585;
    margin: 10px auto;
}

.success-msg-newpickup{
    color: #ffffff;
    top: 10px;
    right: 30px;
    font-size: 13px;
    background: #8acc76;
    font-weight: 500;
    padding: 8px;
    text-align: center;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0 0 5px #8acc76;
    margin: 0 auto;
}

.mat-dialog-container{ position: relative;}

.pop-title{
    position: absolute;
    background: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    color: #7b1fa2;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bank-edit-popup{padding-top: 8px;}

.mat-error {
    display: block;
    font-size: 12px;
    position: absolute;
}
.mat-dialog-content{ padding-left:0; padding-right:0;}

.close-bank-main-table td.top-align{
    vertical-align:top;
}

.close-bank-main-table td{
    font-size: 13px;
    line-height: normal;
}

.close-bank-input{
    background: #fff;
    width:170px;
    /*padding: 2px 3px;*/
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 2px;
}

.mt-5{ margin-top:5px;}
.mb-5{ margin-bottom:5px;}

.close-bank-input:focus{
    outline:none;
}

.close-bank-input.number-field{width: 75px; height: 24px;}

.close-bank-input.deposit-slip-input.number-field{height: 20px;}

.close-bank-input.number-field-lg{width: 80px; height: 18px;}

.table-head-light{
    background: #b3b3b3;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 1px;
}

.pt-0{ padding-top: 0 !important;}
.pb-0{ padding-bottom:0;}

.close-bank-main-table .mat-form-field{ width:100% !important;}
.close-bank-main-table .mat-form-field-wrapper{ width:100% !important;}
.close-bank-main-table1 .mat-form-field-appearance-legacy .mat-form-field-wrapper{ width:100% !important;}


p.closebank-successmsg{
color: #fff;
position: absolute;
background: #5dbb5c;
padding: 10px;
z-index: 9;
box-shadow: 0 0 5px #5dbb5c;
top: 40%;
left: 50%;
border-radius: 5px;
-webkit-transform: translate(-50%);
transform: translate(-50%);
text-align: center;
border: 1px solid #219e1f;
}


.close-bank-table td{
    font-size: 13px;
    line-height: normal;
}


.close-bank-main-table input[type=text][readonly="readonly"]{
    color: rgba(0, 0, 0, 1);
    border-bottom: inherit;
}

.width-100{ width:100%;}

.error-input{
    background: #fff2f2;
    border: 1px solid #fb9f9f;
    color: #ff6b6b;
}

.close-bank-main-table td, .close-bank-main-table th {
    padding: 5px 5px;}
    
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type=number]{
   -moz-appearance: textfield;
}

.bank-edit-popup-close{
    position: absolute;
    right: 8px;
    top: 4px;
    color: #ff7777;
    cursor: pointer;
}

/*.bank-edit-popup-close:focus{ background:#fff;}*/

.bank-edit-popup-close.mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    line-height: 30px;
    border-radius: 50%;
}

.mt_15{ margin-top: -15px;}

/*.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}*/

.mat-dialog-content {
    padding-left: 0;
    padding-right: 0;
}
.bank-edit-popup {
    padding-top: 8px;
}

.bank-edit-popup {
    padding-top: 8px;
}

.close-bank-main-table input[type=number][readonly="readonly"] {
    /*color: rgb(13, 13, 13);
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;*/
}

.table-style {
    overflow: hidden !important;
}


.error-input{
    background: #fff2f2;
    border: 1px solid #fb9f9f;
    color: #ff6b6b;
}

p.deposit-successmsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #5dbb5c;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #5dbb5c;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #219e1f;
    }
    
  p.deposit-errormsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #ff8080;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #ff0000;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #ff0000;
    }

.pl-6{ padding-left:6px}
.pr-6{ padding-right:6px}
.mb-10{ margin-bottom:10px;}
.close-bank-input.number-field:focus{ border-color:#000;}
tr.mat-header-row th{ line-height:14px;}
.btn-reload{ position:absolute; right:10px; z-index:9;}
.position-relative{ position: relative;}
.submit-table{ border:1px solid #d8d8d8; margin-top:-1px;}
.cashcoin-popup .mat-form-field-wrapper{ border: 1px solid #ccc;}

.form-control{
    width: 100%;
    border: 1px solid #c4c4c4;
    background: transparent;
    border-radius:3px;
    padding:1px 5px;
}

.other-deposit-form-container{ padding:30px;}
.other-deposit-form-container .box{ 
    background: #fff;
    padding: 0;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.other-deposit-form-container .box .row{ margin-bottom:10px;}
.other-deposit-form-container .box .row:last-child{ margin-bottom:0 !important;}
.other-deposit-form-container .label-control{
    display: block;
    color: #333;
}

.box th {
    border-radius: 0;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background:#7b1fa2;
    padding: 5px 15px;
    border: 0;
}
.other-deposit-form-container .box td { padding: 5px 15px}
/* .other-deposit-form-container .box th { padding: 5px !important;} */
td.center{ text-align:center; }
.mb-10{ margin-bottom:10px;}

/*Csh coin css*/
.cash-coin-nav ul{
    border-bottom:1px solid #e0e0e0;
    margin-bottom:10px;
}
.cash-coin-nav ul li{
    display:inline-block;
    font-weight: 600;
    text-transform: uppercase;
    text-align:center;
    padding:10px 40px;
    color: #7a7a7a;
    cursor:pointer;
    box-sizing: border-box;
    position:relative;
    
}

.cash-coin-nav ul li:hover:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #7b1fa2;
    content: "";
}

.cash-coin-nav ul li.active:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #7b1fa2;
    content: "";    
}


@media (min-width: 993px) and (max-width: 1199px) {
    .filter-row .mat-form-field {
        margin-left: 10px;
        width: 110px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .filter-row .mat-form-field {margin: 0; width: 100%;}
    .branch-name ul li {margin: 0; width: 25%; padding-left: 10px; padding-right: 10px;}
}


@media (min-width: 601px) and (max-width: 767px) {
    .branch-name ul li {margin: 0; width: 50%; padding-left: 10px; padding-right: 10px;}

    .cash-coin-nav ul { text-align: center;}
    .cash-coin-nav ul li{ width: auto; padding: 10px;}
    .no-data span {padding: 5px 10px; }
    .table-responsive{ overflow: auto; width: 100%;}
    .filter-row .mat-form-field { width: 100%; margin: 0;}
    }


@media only screen and (max-width: 600px) {
    .branch-name ul li {margin: 0; width: 100%;}

    .cash-coin-nav ul li{ width: 100%; padding: 10px 0; border-bottom: 1px solid #ddd;}
    .no-data span {padding: 5px 10px; }
    .table-responsive{ overflow: auto; width: 100%;}
    .other-deposit-form-container{ padding: 0; }
    .p-20 {padding: 0;}
    .box th,.box td{padding: 5px !important; line-height: 14px; font-size: 12px;}
    }