    <!-- Main Content -->
    <!--Bank list table start-->
<div class="table-style">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="site">
    <th mat-header-cell *matHeaderCellDef> Site </th>
    <td mat-cell *matCellDef="let element"> {{element.site}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="register">
    <th mat-header-cell *matHeaderCellDef> Register </th>
    <td mat-cell *matCellDef="let element" class="center"> {{element.register}} </td>
  </ng-container>
  
  <ng-container matColumnDef="employee">
    <th mat-header-cell *matHeaderCellDef> Employee </th>
    <td mat-cell *matCellDef="let element"> {{element.employee}} </td>
  </ng-container>
  
  <ng-container matColumnDef="lastPickup">
    <th mat-header-cell *matHeaderCellDef> Last Pickup </th>
    <td mat-cell *matCellDef="let element"> {{element.lastPickup}} </td>
  </ng-container>
  
  <ng-container matColumnDef="pickups">
    <th mat-header-cell *matHeaderCellDef> Pickups </th>
    <td mat-cell *matCellDef="let element" class="center"> {{element.pickups}} </td>
  </ng-container>
  
  <ng-container matColumnDef="pickupTotal">
    <th mat-header-cell *matHeaderCellDef> Pickup Total </th>
    <td mat-cell *matCellDef="let element" class="center"> {{element.pickupTotal}} </td>
  </ng-container>
  
  <ng-container matColumnDef="newPickup">
    <th mat-header-cell *matHeaderCellDef> New Pickup </th>
    <td mat-cell *matCellDef="let element" class="center"> <button mat-raised-button class="btn-grey">Add</button>
    <!--<i class="small material-icons sm-icon">add</i>-->
</td>
  </ng-container>
  
<!--  <ng-container matColumnDef="approve">
    <th mat-header-cell *matHeaderCellDef> Approve </th>
    <td mat-cell *matCellDef="let element" class="center"> none </td>
  </ng-container>-->
  
  <ng-container matColumnDef="summary">
    <th mat-header-cell *matHeaderCellDef> Summary </th>
    <td mat-cell *matCellDef="let element" class="center"> <!--<button mat-raised-button>View</button>--> <i class="small material-icons sm-icon">visibility</i></td>
  </ng-container>
  
  <ng-container matColumnDef="close">
    <th mat-header-cell *matHeaderCellDef> Close </th>
    <td mat-cell *matCellDef="let element" class="center"> <button mat-raised-button class="btn-grey">Close</button> </td>
  </ng-container>
  
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element" class="center">
      <i class="small material-icons sm-icon-delete">delete</i>
      <!--<button mat-icon-button color="warn">
       <mat-icon>delete</mat-icon>
      </button>-->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!--Bank list table end-->
</div>