<main id="main_id" class="">
    <div class="row">
          <div class="col s12">
              <div class="p-20">
        <!---------------------------Summary Filter Start--------------------------------->
                <div class="row filter-row">
                    <div class="col s12 height-50">
                        <h5 class="left mt-0 mb-20">Summary</h5>
                            <div class="right summary-filter">
                                <form class="form-inline" [formGroup]="oscrSummaryFilterForm">
                                    
                                  <mat-form-field>
                                    <mat-label>Select Branch</mat-label>
                                    <mat-select [(value)]="filterBranchId" >
                                      <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                               
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="startDate" placeholder="Start Date"  formControlName="startDate" (dateChange)="onChangeStartDate('change', $event)">
                                      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                                      <mat-datepicker #startDate></mat-datepicker>
                                  </mat-form-field>
                    
                                  <mat-form-field>
                                      <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate" (dateChange)="onChangeEndDate('change', $event)">
                                      <mat-datepicker-toggle matSuffix [for]="endDate" ></mat-datepicker-toggle>
                                      <mat-datepicker #endDate></mat-datepicker>
                                  </mat-form-field>
                                  
                                </form>
                            </div>
                    </div>
                </div>
        <!---------------------------Summary Filter End--------------------------------->
        <!---------------------------Summary Table Start-------------------------------->
                <div class="row">
                    <div class="col s12">
                        <div class="white z-depth-1 p-10">
                            <div class="table-style">
                                
                                <mat-progress-bar *ngIf = "progressShow"
                                    class = "tp-margin manage-site-progressbar"
                                    [mode] = "mode"
                                    [value] = "value"
                                    [bufferValue] = "bufferValue"
                                    >
                                </mat-progress-bar>
                                
                                 <p *ngIf="errormessage && showErrorMsg" class="summary-errormsg">{{errormessage}}</p>
                                 <p *ngIf="successmessage && !showErrorMsg" class="summary-successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
                              <!--Summary table start-->
                              <!--*ngIf = "summaryTableShow"-->
                             
                                <table class="sammury-table" cellspacing="0" cellpadding="0" mat-table [dataSource]="summaryDataSource" matSort>
                                  <!-- Position Column -->
                                  <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header="SummaryDate"> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{element.SummaryDate}} </td>
                                  </ng-container>
                                
                                  <!-- Name Column -->
                                  <ng-container matColumnDef="attendance">
                                    <th mat-header-cell *matHeaderCellDef> Attendance </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="attnd-cell">
                                            <span id="edit-box-{{element.SummaryId}}">
                                                <span class="left">{{element.Attendance  | number }}</span> <i class="material-icons edit-sm right" (click)="editAtten(element.SummaryId)">edit</i>
                                            </span>
                                            <span id="save-box-{{element.SummaryId}}" style="display:none;">
                                                <span class="left"><input class="close-bank-input number-field" id="attn-input-{{element.SummaryId}}" type="text" mask="0*.00" [value]="element.Attendance"></span>
                                                <button class="btn-edit" (click)="saveSummaryInfo(element.SummaryId)"><i class="material-icons">check</i></button>
                                                <button class="btn-close" (click)="cancelAtten(element.SummaryId)"><i class="material-icons">close</i></button>
                                            </span>
                                        </div>
                                    </td>
                                  </ng-container>
                                
                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="weather">
                                    <th mat-header-cell *matHeaderCellDef> Weather </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <div class="attnd-cell">
                                            <span id="w-edit-box-{{element.SummaryId}}">
                                                <span class="left">{{element.Weather}}</span> <i class="material-icons edit-sm right" (click)="editWeather(element.SummaryId)">edit</i>
                                           </span>
                                            <span id="w-save-box-{{element.SummaryId}}" style="display:none;">
                                                <span class="left"><input class="close-bank-input number-field" id="w-input-{{element.SummaryId}}" type="number" [value]="element.Weather"></span>
                                                <button class="btn-edit" (click)="saveSummaryInfo(element.SummaryId)"><i class="material-icons">check</i></button>
                                                <button class="btn-close" (click)="cancelWeather(element.SummaryId)"><i class="material-icons">close</i></button>
                                            </span>
                                        </div>
                                    </td>
                                  </ng-container>
                                
                                  <!-- Symbol Column -->
                                  <ng-container matColumnDef="cmoTotal">
                                    <th mat-header-cell *matHeaderCellDef> CMO Total </th>
                                    <td mat-cell *matCellDef="let element" class="text-right"> {{element.CMOTotal}}.00 </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="depositTotal">
                                    <th mat-header-cell *matHeaderCellDef> Deposit Total </th>
                                    <td mat-cell *matCellDef="let element" class="text-right"> {{element.DepositTotal}}.00 </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="gsrTotal">
                                    <th mat-header-cell *matHeaderCellDef> GSR Total </th>
                                    <td mat-cell *matCellDef="let element" class="text-right"> {{element.GSRTotal}}.00 </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="documents">
                                    <th mat-header-cell *matHeaderCellDef> Documents </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.Documents}} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="comment">
                                    <th mat-header-cell *matHeaderCellDef> Comment </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="attnd-cell">
                                            <span id="comment-edit-box-{{element.SummaryId}}">
                                                <span class="left">{{element.Comment}}</span> <i class="material-icons edit-sm right" (click)="editComment(element.SummaryId)">edit</i>
                                           </span>
                                            <span id="comment-save-box-{{element.SummaryId}}" style="display:none;">
                                                <span class="left">
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput id="comment-input-{{element.SummaryId}}" value="{{element.Comment}}">
                                                    </mat-form-field>
                                                </span>
                                                <button class="btn-edit" (click)="saveSummaryInfo(element.SummaryId)"><i class="material-icons">check</i></button>
                                                <button class="btn-close" (click)="cancelComment(element.SummaryId)"><i class="material-icons">close</i></button>
                                            </span>
                                        </div>
                                    </td>
                                  </ng-container>
                                
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                             
                                <div *ngIf = "!summaryTableShow" class="text-center no-data"><span>No summary data found.</span></div>
                            </div>
                          <!--Summary table end-->
                          
                          <!-- Pagination Start-->
                          <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          <!-- Pagination End-->
                          
                          <!--<app-alert></app-alert>-->
                        </div>
                        <div class="text-right">
                        <button class="mt-20 btn btn-primary btn-bank" (click)="submit_to_corporate()"><i class="material-icons left">account_balance</i> Submit to Corporate</button>
                        </div>
                    </div>
                </div>
            <!---------------------------Summary Table End--------------------------------->
            </div>
        </div>
    </div>
</main>