.table{
  background: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.table.table-bordered thead{ background:#863e6f; color: #fff; font-weight: 300;}
.table.table-bordered td{ color: #000; padding: 18px 8px;}

.table-bordered thead td, .table-bordered thead th {
  font-weight: 300;
  padding: 12px 8px;
}

.table-bordered thead th{ color: #fff; font-size: 15px;}
.table-bordered th { color: #000; font-weight: 300; padding: 18px 8px;}

.table-bordered tr:nth-child(even) {background-color: #ebefec;}

.main-wrapper{
  width: calc(100% - 260px);
  float:right;
  padding: 20px 30px;
}

/*.filter-row{ color: #aaa;}*/

.card-div {
    background-color: #ebefec;
    padding: 10px 20px 20px;
    width: 100%;
}

.card-div .card_header_custom {
    margin: 0;
    border-radius: 0px;
    background: #fff;
    box-shadow: none;
    display: inline-block;
    width: 100%;
    border:0;
}

.card-div .card_header_custom .title {
  color: #863E6F;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 7px 0;
}

.breadcrumb ul {
	margin: 0;
	padding: 0;
}
.breadcrumb ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	color: #7e7e7e;
	position: relative;
}

.breadcrumb ul li a {
  color: #863e6f;
}

.breadcrumb ul li:after {
	background-image: url(src/assets/img/arrow_sm.png);
	width: 7px;
	height: 11px;
	content: "";
	position: absolute;
  right: -15px;
  top: 8px;
}
.breadcrumb ul li:last-child:after {
	opacity: 0
}

.filter-row form{ justify-content: center;}

#start-date, #end-date{ text-transform: uppercase;}

.notification-div{ position: absolute; bottom: 80px; z-index: 9; left: 50%; transform: translateX(-50%);}
.form-control{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #cfcfcf;
  padding: 8px 10px;
  border: 0;
}

.btn-small{ background: #e2e2e2;
  color: #863E6F;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  margin-left: 10px;
  height: 30px;
  text-align: center;}
  
  /*.branch-option { height: 30px !important;}*/
  
.mat-icon-button.cdk-focused.cdk-program-focused {
    background-color: #7b1fa2;
    color: #fff;
}

input[type=number]{
    -moz-appearance: textfield;
}
.close-bank-input.number-field{
  background: #fff;
  width: 50px;
  height: 24px;
  margin-right:5px;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 0 2px;
}

.attnd-cell .mat-mini-fab{ width:30px; height:30px; line-height:30px;}
.btn-edit{
    cursor: pointer;
    color: #ffffff;
    background: #94baff;
    opacity: 0.7;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border:0;
}

.btn-edit:hover,.btn-close:hover{ opacity: 1;}

.btn-close {
    cursor: pointer;
    color: #ffffff;
    background: #e84646;
    opacity: 0.7;
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 40px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border:0;
}

.btn-edit .material-icons{font-size: 16px;}
.btn-close .material-icons{font-size: 16px;}

.attnd-cell span{ display:flex; /*justify-content:center;*/ align-items:center;}
.sammury-table td{ position: relative;}
.attnd-cell i.right {
    position: absolute;
    right: 10px;
    top: 7px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] { -moz-appearance:textfield;}


p.summary-successmsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #5dbb5c;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #5dbb5c;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #219e1f;
    }
    
  p.summary-errormsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #ff8080;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #ff0000;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #ff0000;
    }
 

@media (max-width: 991px ) {
  .main-wrapper {
    float: none;
    width: 100%;
    display: flex;
  }
}

@media only screen and (max-width: 1023px) {
    .box-full h5 {font-size: 14px;}
}

@media only screen and (max-width: 600px) {
.p-20 {padding: 0;}
.right.summary-filter{ float: none !important;}
}
