<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row m-0">
          <div class="col s12">
            <h5 class="m-0 left">Manage POS</h5>
            <!--<div class="right"><button mat-raised-button [routerLink]="['../add-site']">+ Add</button></div>-->
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="breadcrumb">
              <li><a [routerLink]="['../setting']">General Settings</a></li>
              <li>Manage POS</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 p-10">
              <div class="position-relative">
              <mat-progress-bar *ngIf = "progressShow"
              class = "tp-margin align-progressbar"
              [mode] = "mode"
              [value] = "value"
              [bufferValue] = "bufferValue"
              >
              </mat-progress-bar>
            
              <table mat-table [dataSource]="dataSource">
    
                <!-- Position Column -->
                <ng-container matColumnDef="slno">
                  <th mat-header-cell *matHeaderCellDef width="10%"> No. </th>
                  <td mat-cell *matCellDef="let element"> {{element.posId}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="posName">
                  <th mat-header-cell *matHeaderCellDef width="40%"> POS Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.posName}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="posStatus">
                  <th mat-header-cell *matHeaderCellDef class="text-center" width="20%"> Status </th>
                  <td mat-cell *matCellDef="let element" class="center">
                    <mat-slide-toggle color="primary" [checked]="element.IsActive" (change)="changePosStatus($event,element.posId,element.batchoutTypeId)"></mat-slide-toggle>
                  </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="batchoutType">
                  <th mat-header-cell *matHeaderCellDef class="text-center" width="30%"> Batchout Type </th>
                  <td mat-cell *matCellDef="let element">
                     <mat-select placeholder="Type" class="center" [(value)]="element.batchoutTypeId" (selectionChange)="changeBatchoutType($event,element.posId,element.IsActive)">
                        <mat-option color="primary" *ngFor="let btype of batchOutTypes" [value]="btype.BatchTypeId" >{{btype.BatchTypeName}}</mat-option>
                     </mat-select>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="white z-depth-1 box-full">
                
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</main>
