.position-relative{ position:relative;}
.align-progressbar{ position:absolute; width:100%;}

mat-progress-bar.tp-margin.manage-site-progressbar.mat-progress-bar.mat-primary.ng-star-inserted{ width:100%;}