<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        
        <div class="row m-0">
        <div class="col s12">
          <h5 class="m-0 left">Add Site</h5>
          <!--<div class="right"><button mat-raised-button [routerLink]="['../add-payment-form']">+ Add</button></div>-->
        </div>
        </div>
        
        <div class="row">
        <div class="col s12">
          <ul class="breadcrumb">
          <li><a [routerLink]="['../setting']">General Settings</a></li>
          <li><a [routerLink]="['../manage-sites']">Manage Sites</a></li>
          <li>Add Site</li>
        </ul>
        </div>
        </div>
        
        <div class="row">
          <div class="col s12">
            <p *ngIf="errormessage && showErrorMsg" class="error-msg">{{errormessage}}</p>
            <p *ngIf="successmessage && !showErrorMsg" style="color:green;">{{successmessage}}</p>
            <div class="white z-depth-1 p-10">
            <mat-form-field class="right search-field">
              <i class="material-icons search-icon">search</i>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
            
            <div class="position-relative">
            <mat-progress-bar *ngIf = "progressShow"
            class = "tp-margin"
            [mode] = "mode"
            [value] = "value"
            [bufferValue] = "bufferValue"
            >
         </mat-progress-bar>
            <table mat-table [dataSource]="dataSource" matSort>
            
              <!-- Checkbox Column -->
              <ng-container  matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox *ngIf="dataSource" color="primary" (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox *ngIf="dataSource" color="primary" (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            
              <!-- Position Column -->
              <ng-container matColumnDef="siteId">
                <th mat-header-cell *matHeaderCellDef> Site Id </th>
                <td mat-cell *matCellDef="let element"> {{element.SiteID}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="siteName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.SiteName}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="siteDescreption">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.SiteDescription}} </td>
              </ng-container>
            
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                  (click)="selection.toggle(row)">
              </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            <div class="mt-20 mt_-40">
            <button [disabled]="submitDisabled" mat-raised-button color="primary" (click)="submitSite()">Submit</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</main>


