.search-icon{
position: absolute;
right: 0;
bottom: 3px;
color: #9a9a9a;
font-size: 22px;}

.text-right{ text-align:right;}
.mt_-40{ margin-top:-40px;}

.error-msg{
    background: #f7695f;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    display: inline-block; box-shadow:0 0 20px #c1c1c1
    }
    
.box-full .error-msg{ display:block;}

.position-relative{ position:relative;}
.align-progressbar{ position:absolute; width:100%;}

mat-progress-bar.tp-margin.manage-site-progressbar.mat-progress-bar.mat-primary.ng-star-inserted{ width:100%;}

@media(min-width:768px){
    .search-field{ width:300px;}
}