<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row filter-row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Deposit</h5>
              <div class="right">
              <div class="branch-name">
                <ul>
                  <li class="inline-flex">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="CMO Total($)" readonly id="cmoTotal" value="0">
                        </mat-form-field>
                  </li>
                  
                  <li class="inline-flex">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Deposit Total($)" readonly id="depositTotal" value="0">
                      </mat-form-field>
                  </li>
                  <li>
                  <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </li>
                  
                  <li>
                    <mat-form-field class="">
                    <input matInput [matDatepicker]="select_date" placeholder="Selected Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                    <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                    <mat-datepicker #select_date></mat-datepicker>
                    </mat-form-field>
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            <div class="cash-coin-nav">
              <ul>
                <li (click)="routeLink('../deposit')">Cash &amp; Coins</li>
                <li (click)="routeLink('../deposit/checks')">Checks</li>
                <li class="active" (click)="routeLink('../deposit/cc-handhelds')">CC Handhelds</li>
                <li (click)="routeLink('../deposit/pos')">POS</li>
                <li (click)="routeLink('../deposit/amex')">Amex</li>
                <li (click)="routeLink('../deposit/other-daily-deposits')">Other Daily Deposits</li>
              </ul>
            </div>
              
           <p *ngIf="errormessage && showErrorMsg" class="deposit-errormsg">{{errormessage}}</p>
          <p *ngIf="successmessage && !showErrorMsg" class="successmsg"><i class="material-icons left">check_circle</i> {{successmessage}}</p>
        
          <div class="clearfix"></div>
          <div class="mt-10 table-style">
            
          
          
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
           >
          </mat-progress-bar>
          
          <form (ngSubmit)="CCHandheldFormSubmit()" *ngIf="ccDepositShow">
            <table mat-table [dataSource]="ccHandheldDataSource">
  
              <!-- Position Column -->
              <!--<ng-container matColumnDef="employee">
                <th mat-header-cell *matHeaderCellDef width="22%" > Cashier </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngFor="let emp of element.EmployeeName; let i=index">
                    {{emp}},{{element.EmployeeImage[i]}}
                  </span>
                </td>
              </ng-container>-->
              
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="text-left" width="2%">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
                  </mat-checkbox></th>
                
                <td mat-cell *matCellDef="let element" class="text-left">
                  <!--<mat-checkbox color="primary" (change)="getAmexIds($event,element.CloseId)"></mat-checkbox>-->
                  <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)"
                    [aria-label]="checkboxLabel(element)">
                  </mat-checkbox>
                </td>
            </ng-container>
  
              <!-- Position Column -->
              <ng-container matColumnDef="site_name">
                <th mat-header-cell *matHeaderCellDef width="20%" > Site </th>
                <td mat-cell *matCellDef="let element">
                  <input id="bank_id_{{element.Index}}" type="hidden" [value]="element.BankId">
                  <input id="close_id_{{element.Index}}" type="hidden" [value]="element.CloseId">
                  <input id="site_id_{{element.Index}}" type="hidden" [value]="element.SiteId">
                  {{element.SiteName}}
                </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="register">
                <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Register </th>
                <td mat-cell *matCellDef="let element" class="center"> <input id="register_id_{{element.Index}}" type="hidden" [value]="element.RegisterId"> {{element.RegisterNumber}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="device_id">
                <th mat-header-cell *matHeaderCellDef width="10%" class="center"> TID#</th>
                <td mat-cell *matCellDef="let element" class="center"> <input id="tid_{{element.Index}}" type="hidden" [value]="element.CardHandheldTidNumber"> {{element.CardHandheldTidNumber}} </td>
              </ng-container>
              
              <ng-container matColumnDef="batch_no">
                <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Batch# </th>
                <td mat-cell *matCellDef="let element" class="center"> <input id="batchout_no_{{element.Index}}" type="hidden" [value]="element.BatchoutNumber"> {{element.BatchoutNumber}} </td>
              </ng-container>
              
              <ng-container matColumnDef="vi_mc_di_suggested">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> VI/MC/DI Suggested($) </th>
                <td mat-cell *matCellDef="let element" class="center"> {{element.VisaMasterDiscoverSuggestAmount}} <span  *ngIf="isInt(element.VisaMasterDiscoverSuggestAmount)">.00 </span></td>
              </ng-container>
              
              <ng-container matColumnDef="vi_mc_di_actual">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> VI/MC/DI Actual($) </th>
                <td mat-cell *matCellDef="let element" class="center"> <input class="close-bank-input number-field" id="vi_mc_di_{{element.Index}}" type="number" (keyup)="checkChange()" [value]="element.VisaMasterDiscoverSuggestAmount"> </td>
              </ng-container>
              
              <ng-container matColumnDef="debit_suggested">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Debit Suggested($) </th>
                <td mat-cell *matCellDef="let element" class="center"> {{element.DebitSuggestAmount}}<span  *ngIf="isInt(element.DebitSuggestAmount)">.00 </span></td>
              </ng-container>
              
              <ng-container matColumnDef="debit_actual">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Debit Actual($) </th>
                <td mat-cell *matCellDef="let element" class="center"> <input class="close-bank-input number-field" id="debit_amt_{{element.Index}}" type="number" (keyup)="checkChange()" [value]="element.DebitSuggestAmount"> </td>
              </ng-container>
              
              <!--<ng-container matColumnDef="is_reviewd">
                <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Is Reviewed </th>
                <td mat-cell *matCellDef="let element" class="center"> <mat-slide-toggle (change)="isReviewd($event,element.Index)"></mat-slide-toggle></td>
              </ng-container>-->
              
             <!-- <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Total </th>
                <td mat-cell *matCellDef="let element" class="center"> {{element.total}} </td>
              </ng-container>-->
              
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
            </table>
          <!--</div>-->
          
          <table class="submit-table">
            <tr>
              <td>
                <div class="center"><button class="mt-5 mb-5" [disabled]="ccSubmitButtonEnaDis" mat-raised-button color="primary">Submit</button></div>
              </td>
            </tr>
          </table>
          </form>
          <div *ngIf = "!ccDepositShow" class="no-data text-center"><span>There is no deposit.</span></div>
        </div>
        <div class="mt-20">
          <h6 class="left mb-10"><strong>CC Handheld Deposit List</strong></h6>          
          
        <!--   ----------------------CC Handheld Deposit List Table------------------       -->
          <table mat-table [dataSource]="ccHandheldDepositListDataSource" *ngIf="ccDepositSlipShow">
            <!-- Position Column -->
            <ng-container matColumnDef="site_name">
              <th mat-header-cell *matHeaderCellDef width="15%" > Site </th>
              <td mat-cell *matCellDef="let element"> {{element.SiteName}}
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="register">
              <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Register </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.RegisterNumber}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="device_id">
              <th mat-header-cell *matHeaderCellDef width="10%" class="center"> TID#</th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.CardHandheldTidNumber}} </td>
            </ng-container>
            
            <ng-container matColumnDef="batch_no">
              <th mat-header-cell *matHeaderCellDef width="9%" class="center"> Batch# </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.BatchoutNumber}} </td>
            </ng-container>
            
            <ng-container matColumnDef="vi_mc_di_suggested">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center"> VI/MC/DI Suggested </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.VisaMasterDiscoverSuggestAmount}} <span  *ngIf="isInt(element.VisaMasterDiscoverSuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="vi_mc_di_actual">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center"> VI/MC/DI Actual </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="up_vi-mc-di-lable-{{element.DepositId}}">
                {{element.VisaMasterDiscoverDepositAmount}} <span  *ngIf="isInt(element.VisaMasterDiscoverDepositAmount)">.00 </span>
                </span>
                <span style="display:none;" id="up_vi-mc-di-input-{{element.DepositId}}">
                  <input class="close-bank-input number-field" id="up_vi_mc_di_{{element.DepositId}}" type="number" [value]="element.VisaMasterDiscoverDepositAmount">
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="debit_suggested">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Debit Suggested </th>
              <td mat-cell *matCellDef="let element" class="center"> {{element.DebitSuggestAmount}}<span  *ngIf="isInt(element.DebitSuggestAmount)">.00 </span></td>
            </ng-container>
            
            <ng-container matColumnDef="debit_actual">
              <th mat-header-cell *matHeaderCellDef width="11%" class="center"> Debit Actual </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="up_debit-lable-{{element.DepositId}}">
                {{element.DebitDepositAmount}}<span  *ngIf="isInt(element.DebitDepositAmount)">.00 </span>
                </span>
                <span style="display:none;" id="up_debit-input-{{element.DepositId}}">
                  <input class="close-bank-input number-field" id="up_debit_amt_{{element.DepositId}}" type="number" [value]="element.DebitDepositAmount">
                </span>
              </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.StatusName}} </td>
            </ng-container>
            
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef width="13%" class="center"> Action </th>
              <td mat-cell *matCellDef="let element" class="center">
                <span id="action-box-{{element.DepositId}}">
                <button mat-mini-fab (click)="editCChandheldDeposit(element.DepositId)"><i class="material-icons">edit</i></button>&nbsp;&nbsp;&nbsp;
                <!--<button mat-mini-fab color="warn"><i class="material-icons">delete</i></button>-->
                </span>
                
                <span style="display:none;" id="save-box-{{element.DepositId}}">
                  <button title="Update" mat-mini-fab (click)="updateCChandheldDeposit(element.DepositId)"><i class="material-icons">check</i></button>&nbsp;&nbsp;&nbsp;
                  <button title="Cancel" mat-mini-fab color="warn" (click)="cancelCChandheldDeposit(element.DepositId)"><i class="material-icons">clear</i></button>
                </span>
              </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
          </table>
          <div *ngIf = "!ccDepositSlipShow" class="no-data text-center"><span>There is no deposit Slip.</span></div>
          </div>
        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>