.filter-li-style{ margin:0; padding:0;}
.filter-li-style li{ display:inline-block; margin-left: 20px; color:#7c7c7c; font-size:15px;}
.filter-li-style li .mat-radio-button{ margin-left: 5px;}
.ml-0{margin-left: 0 !important;}
.ml-5{margin-left: 10px !important;}

.table{
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.table.table-bordered thead{ background:#863e6f; color: #fff; font-weight: 300;}
.table.table-bordered td{ color: #000; padding: 18px 8px;}

.table-bordered thead td, .table-bordered thead th {
  font-weight: 300;
  padding: 12px 8px;
}

.table-bordered thead th{ color: #fff; font-size: 15px;}
.table-bordered th { color: #000; font-weight: 300; padding: 18px 8px;}

.table-bordered tr:nth-child(even) {background-color: #ebefec;}

.main-wrapper{
  width: calc(100% - 260px);
  float:right;
  padding: 20px 30px;
}

.filter-row{ color: #aaa;}

.card-div {
    background-color: #ebefec;
    padding: 10px 20px 20px;
    width: 100%;
}

.card-div .card_header_custom {
    margin: 0;
    border-radius: 0px;
    background: #fff;
    box-shadow: none;
    display: inline-block;
    width: 100%;
    border:0;
}

.card-div .card_header_custom .title {
  color: #863E6F;
}

.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding: 7px 0;
}

.breadcrumb ul {
	margin: 0;
	padding: 0;
}
.breadcrumb ul li {
	list-style: none;
	display: inline-block;
	margin: 0 10px;
	color: #7e7e7e;
	position: relative;
}

.breadcrumb ul li a {
  color: #863e6f;
}

.breadcrumb ul li:after {
	background-image: url(src/assets/img/arrow_sm.png);
	width: 7px;
	height: 11px;
	content: "";
	position: absolute;
  right: -15px;
  top: 8px;
}
.breadcrumb ul li:last-child:after {
	opacity: 0
}

.filter-row form{ justify-content: center;}

#start-date, #end-date{ text-transform: uppercase;}

.notification-div{ position: absolute; bottom: 80px; z-index: 9; left: 50%; transform: translateX(-50%);}
.form-control{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #cfcfcf;
  padding: 8px 10px;
  border: 0;
}

.btn-small{ background: #e2e2e2;
  color: #863E6F;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  margin-left: 10px;
  height: 30px;
  text-align: center;}
  
.table thead th {vertical-align: top; font-size:13px; line-height:16px;}


.doc-row{ /*border-bottom:1px solid #e6e6e6;*/ margin: 10px 0; padding: 15px;
  align-items: center;}
.wide{ width: 100%;}
.preview-img{
  margin: 0;
  text-align: center;
  /*background: #efefef;*/
  /*padding: 10px;*/
  display: flex;
  /*justify-content: center;*/
  }
.preview-img li{ 
list-style: none;
    width: 170px;
    height: 170px;
    border: 1px solid #ccc;
    margin: 5px 10px;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
  
}
.preview-img li img{
  width: 100%; 
}
.mt-20{ margin-top:20px;}
.mt-5 { margin-top: 5px;}
.mb-5 { margin-bottom: 5px;}
.zoom-ic{ width: auto; height: 30px; background-color: rgba(0,0,0, 0.8); color: #fff; border-radius: 5px; padding: 5px;
  position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); display: none; cursor: pointer;}

.preview-img li:hover .zoom-ic, .preview-img li:hover .btn-close{ display: block;}

.custom-file-upload input[type="file"] {display: none;}

.custom-file-upload .custom-file-upload1 {
border: 1px solid #7b1fa2;
display: inline-block;
padding: 6px 12px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color:#7b1fa2;
font-weight:600;
}
.mr-5{ margin-right:5px;}
.btn-close{
    position: absolute;
    top:0;
    right: 0;
    background: #ff6767;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    display:none;
  }
  

  p.document-errormsg{
    color: #fff;
    position: absolute;
    width: 30%;
    background: #ff8080;
    padding: 10px;
    z-index: 9;
    box-shadow: 0 0 5px #ff0000;
    top: 40%;
    left: 50%;
    border-radius: 5px;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    text-align: center;
    border: 1px solid #ff0000;
    }
    
.document-viewer img{ max-width:800px; height: auto;}
.pop-title{
    position: absolute;
    background: #ffffff;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 8px;
    color: #7b1fa2;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bank-edit-popup-close{
    position: absolute;
    right: 8px;
    top: 4px;
    color: #ff7777;
    cursor: pointer;
}

.iframe-container {
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
    

@media (min-width: 992px ) {
  .doc-row{display: flex;}
}

@media (max-width: 991px ) {
  .main-wrapper {
    float: none;
    width: 100%;
    display: flex;
  }
}