<main id="main_id" class="">
  <div class="row">
    <div class="col s12">
      <div class="p-20">
        <div class="row">
          <div class="col s12 height-50">
              <h5 class="left mt-0 mb-20">Documents</h5>
              
              <div class="right form-inline">
                <!--Start Toolbar-->
                <ul class="filter-li-style">
                <mat-toolbar>
                   <li>
                    <mat-form-field>
                        <mat-label>Select Branch</mat-label>
                        <mat-select [(value)]="filterBranchId" >
                          <mat-option class="branch-option"  *ngFor="let branch of userBranchArr" [value]="branch.BranchId" (click)="changeBranch(branch.BranchId,branch.Branch_Name)">{{branch.Branch_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                   </li>
                    <li>
                      <mat-form-field class="">
                      <input matInput [matDatepicker]="select_date" placeholder="Select Date"  [value]="date.value" (dateChange)="onChangeDate('change', $event)">
                      <mat-datepicker-toggle matSuffix [for]="select_date"></mat-datepicker-toggle>
                      <mat-datepicker #select_date></mat-datepicker>
                      </mat-form-field>
                    </li>   
                </mat-toolbar>
              </ul>
               <!--End Toolbar-->
              </div>

          </div>
        </div>
        <div class="row">
        <div class="col s12">
          <div class="white z-depth-1 p-10 position-relative">
            
          <p *ngIf="errormessage && showErrorMsg" class="document-errormsg">{{errormessage}}</p>
          <p *ngIf="successmessage && !showErrorMsg" class="successmsg"><i class="material-icons left">sentiment_very_satisfied</i> {{successmessage}}</p>
          
          <mat-progress-bar *ngIf = "progressShow"
                class = "tp-margin manage-site-progressbar"
                [mode] = "mode"
                [value] = "value"
                [bufferValue] = "bufferValue"
           >
          </mat-progress-bar>
          
          
              <div class="row">
                  <div class="col s12 m12 l12 mt-5 mb-5">
                    <h5 class="mb-20 mt-0 left">Revenue Reports</h5>
                    <div class="custom-file-upload right">
                    <label for="file-upload1" class="custom-file-upload1">
                    <i class="material-icons left mr-5">file_upload</i> <span>Upload File</span>
                    </label>
                    <input id="file-upload1" type="file" (change)="handleFileInput($event.target.files,1)" />
                    </div>
                  </div>
                  <div class="col s12 m12 l12 mt-5 mb-5">
                      <ul class="preview-img" *ngIf="showReport">
                          <li *ngFor="let report of ReportsArray">
                            <a class="btn-close" (click)="deleteDocument(report.DocumentId,report.FilePath)">X</a>
                            <div *ngIf="!report.isDownloadable" class="zoom-ic" (click)="imageViewer(getSecureUrl(report.FilePath),report.isImage)"><i class="material-icons">zoom_in</i></div>
                            <div *ngIf="report.isDownloadable" class="zoom-ic">
                               <a [href]="report.FilePath" [download]="report.FilePath"><i class="material-icons">get_app</i></a>
                            </div>
                            <img *ngIf="report.isImage" src="{{report.DefaultImg}}">
                            <iframe *ngIf="!report.isImage && !report.isDownloadable" style="height: 45vh; width:100%; display: block;" [src]="getSecureUrl(report.FilePath)"></iframe>
                          </li>
                      </ul>
                      <div class="no-data text-center">
                        <span *ngIf="!showReport">No document found.</span>
                      </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12">
                    <hr>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12 m12 l12 mt-5 mb-5">
                    <h5 class="mb-20 mt-0 left">Batch Out Slips</h5>
                    <div class="custom-file-upload right">
                    <label for="file-upload2" class="custom-file-upload1">
                    <i class="material-icons left mr-5">file_upload</i> <span>Upload File</span>
                    </label>
                    <input id="file-upload2" type="file" (change)="handleFileInput($event.target.files,2)" />
                    </div>
                  </div>
                  <div class="col s12 m12 l12 mt-5 mb-5">
                      <ul class="preview-img" *ngIf="showBatchoutSlip">
                          <li *ngFor="let batchout of BatchoutSlipArray">
                            <a class="btn-close" (click)="deleteDocument(batchout.DocumentId,batchout.FilePath)">X</a>
                            <div *ngIf="!batchout.isDownloadable" class="zoom-ic" (click)="imageViewer(getSecureUrl(batchout.FilePath),batchout.isImage)"><i class="material-icons">zoom_in</i></div>
                           
                            <div *ngIf="batchout.isDownloadable" class="zoom-ic">
                               <a [href]="batchout.FilePath" [download]="batchout.FilePath"><i class="material-icons">get_app</i></a>
                            </div>
                           
                            <img *ngIf="batchout.isImage" src="{{batchout.DefaultImg}}">
                            <iframe *ngIf="!batchout.isImage && !batchout.isDownloadable" style="height: 45vh; width:100%; display: block;" [src]="getSecureUrl(batchout.FilePath)"></iframe>
                          </li>
                      </ul>
                      <div class="no-data text-center">
                        <span *ngIf="!showBatchoutSlip">No document found.</span>
                      </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12">
                    <hr>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12 m12 l12 mt-5 mb-5">
                    <h5 class="mb-20 mt-0 left">Z Report Log</h5>
                    <div class="custom-file-upload right">
                    <label for="file-upload3" class="custom-file-upload1">
                    <i class="material-icons left mr-5">file_upload</i> <span>Upload File</span>
                    </label>
                    <input id="file-upload3" type="file" (change)="handleFileInput($event.target.files,3)" />
                    </div>
                  </div>
                  <div class="col s12 m12 l12 mt-5 mb-5">
                      <ul class="preview-img" *ngIf="showZReportLog">
                          <li *ngFor="let zReport of ZReportLogArray">
                            <a class="btn-close" (click)="deleteDocument(zReport.DocumentId,zReport.FilePath)">X</a>
                            <div *ngIf="!zReport.isDownloadable" class="zoom-ic" (click)="imageViewer(getSecureUrl(zReport.FilePath),zReport.isImage)"><i class="material-icons">zoom_in</i></div>
                           
                            <div *ngIf="zReport.isDownloadable" class="zoom-ic">
                               <a [href]="zReport.FilePath" [download]="zReport.FilePath"><i class="material-icons">get_app</i></a>
                            </div>
                            
                            <img *ngIf="zReport.isImage" src="{{zReport.DefaultImg}}">
                            <iframe *ngIf="!zReport.isImage && !zReport.isDownloadable" style="height: 45vh; width:100%; display: block;" [src]="getSecureUrl(zReport.FilePath)"></iframe>
                          </li>
                      </ul>
                      <div class="no-data text-center">
                        <span *ngIf="!showZReportLog">No document found.</span>
                      </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12">
                    <hr>
                  </div>
              </div>

            <div class="row">
                  <div class="col s12 m12 l12 mt-5 mb-5">
                    <h5 class="mb-20 mt-0 left">Deposit Slips</h5>
                    <div class="custom-file-upload right">
                    <label for="file-upload4" class="custom-file-upload1">
                    <i class="material-icons left mr-5">file_upload</i> <span>Upload File</span>
                    </label>
                    <input id="file-upload4" type="file" (change)="handleFileInput($event.target.files,4)" />
                    </div>
                  </div>
                  <div class="col s12 m12 l12 mt-5 mb-5">
                      <ul class="preview-img" *ngIf="showDepositSlip">
                          <li *ngFor="let depositSlip of DepositSlipsArray">
                            <a class="btn-close" (click)="deleteDocument(depositSlip.DocumentId,depositSlip.FilePath)">X</a>
                            <div *ngIf="!depositSlip.isDownloadable" class="zoom-ic" (click)="imageViewer(getSecureUrl(depositSlip.FilePath),depositSlip.isImage)"><i class="material-icons">zoom_in</i></div>
                           
                            <div *ngIf="depositSlip.isDownloadable" class="zoom-ic">
                               <a [href]="depositSlip.FilePath" [download]="depositSlip.FilePath"><i class="material-icons">get_app</i></a>
                            </div>
                           
                            <img src="{{depositSlip.DefaultImg}}" *ngIf="depositSlip.isImage">
                            <iframe *ngIf="!depositSlip.isImage && !depositSlip.isDownloadable" style="height: 45vh; width:100%; display: block;" [src]="getSecureUrl(depositSlip.FilePath)"></iframe>
                          </li>
                      </ul>
                      <div class="no-data text-center">
                        <span *ngIf="!showDepositSlip">No document found.</span>
                      </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col s12">
                    <hr>
                  </div>
              </div>


        </div>
      </div>
    </div>
      
      </div>
    </div>
  </div>
</main>