<div mat-dialog-content class="image-viewer-popup">
    <h6 class="center pop-title"><strong>Document Viewer</strong>
        <a (click)="onNoClick()" class="bank-edit-popup-close">
            <mat-icon>close</mat-icon>
        </a>
    </h6>
    <div class="document-viewer" *ngIf="data.isImage">
        <img [src]="data.filePath"/>
    </div>
    <iframe *ngIf="!data.isImage"  style="height: 100vh; width:50vw; display: block;" [src]="data.filePath"></iframe>
</div>